.docs-story > *:first-child > * {
  min-height: 500px;
}

.brand-footer {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: right;
  padding: 0 10px;
}

body.sb-show-main.sb-main-padded {
  padding: 1rem 1rem 4rem;
}