@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.v-toast--fade-out {
  animation-name: fadeOut;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.v-toast--fade-in-down {
  animation-name: fadeInDown;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.v-toast--fade-in-up {
  animation-name: fadeInUp;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.v-toast {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none;
}
.v-toast__item {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.0rem;
  display: inline-flex;
  max-width: 50rem;
  padding: .8rem 1.6rem;
  border-radius: 0.8rem;
  box-shadow: none;
  color: #e3e5e7;
  animation-duration: 150ms;
  margin: 0.5em 1.6rem 2rem 3.2rem;
  align-items: center;
  pointer-events: auto;
  opacity: 0.92;
  cursor: pointer;
}
.v-toast__item--success {
  background-color: #006e52;
}
.v-toast__item--info {
  background-color: #00a0ac;
}
.v-toast__item--warning {
  background-color: #b98900;
}
.v-toast__item--error {
  background-color: #d72c0d;
}
.v-toast__item--default {
  background-color: #202123;
}
.v-toast__item.v-toast__item--top,
.v-toast__item.v-toast__item--bottom {
  align-self: center;
}
.v-toast__item.v-toast__item--top-right,
.v-toast__item.v-toast__item--bottom-right {
  align-self: flex-end;
}
.v-toast__item.v-toast__item--top-left,
.v-toast__item.v-toast__item--bottom-left {
  align-self: flex-start;
}
.v-toast__text {
  margin: 0;
  padding: 0.5em 1em;
  word-break: break-word;
}
.v-toast__icon {
  display: none;
}
.v-toast.v-toast--top {
  flex-direction: column;
}
.v-toast.v-toast--bottom {
  flex-direction: column-reverse;
}
.v-toast.v-toast--custom-parent {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .v-toast {
    padding: 0;
    position: fixed !important;
  }
}
