

.Polaris-ActionList {
    list-style: none;
    margin: 0;
    padding: .8rem 0;

    >.Polaris-ActionList__Section--withoutTitle {
        .Polaris-ActionList__Actions {
            border-top: none;
        }
    }
}

.Polaris-ActionList.Polaris-ActionList--globalTheming {
    padding: .8rem;
}

.Polaris-ActionList__Section--withoutTitle {
    &:not(:first-child) {
        border-top: $actionlist-section-border;
        margin-top: .8rem;
        padding-top: .8rem;
    }
}

.Polaris-ActionList__Actions {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: $actionlist-section-border;
}

.Polaris-ActionList__Section {
    &:first-child {
        >.Polaris-ActionList__Section--withoutTitle {
            .Polaris-ActionList__Actions {
                border-top: $actionlist-section-border-0;
            }
        }
    }
}

.Polaris-ActionList__Title {
    font-size: $actionlist-title-font-size;
    font-weight: $actionlist-title-font-weight;
    line-height: $actionlist-title-line-height;
    text-transform: uppercase;
    padding: 1.2rem 1.6rem;
    @media (min-width:40em) {
        font-size: $actionlist-title-media-font-size;
    }
}

.Polaris-ActionList__Item {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    background: $actionlist-item-bgcolor;
    border: $actionlist-item-border;
    font-size: $actionlist-item-font-size;
    line-height: inherit;
    color: $actionlist-item-color;
    text-decoration: none;
    display: block;
    width: 100%;
    min-height: 4rem;
    padding: 1rem 1.6rem;
    text-align: left;
    cursor: pointer;
    border-radius: $actionlist-item-border-radius;

    &:focus {
        outline: none;
        box-shadow: $actionlist-item-focus-box-shadow;
        background-image: $actionlist-item-focus-bgimage;
    }

    &:visited {
        color: $actionlist-item-visited-color;
    }

    &:active {
        background-image: $actionlist-item-active-bgimage;

        &:hover {
            background-image: $actionlist-item-active-hover-bgimage;

            &:focus {
                box-shadow: $actionlist-item-active-hover-focus-bgimages-box-shadow;
                background-image: $actionlist-item-active-hover-focus-bgimage;
            }
        }
    }

    &:hover {
        background-image: $actionlist-item-hover-bgimages;
        &:focus {
            box-shadow: $actionlist-item-hover-focus-box-shadow;
            background-image: linear-gradient(rgba(223, 227, 232, .3), rgba(223, 227, 232, .3)), linear-gradient(rgba(223, 227, 232, .3), rgba(223, 227, 232, .3));
        }
    }

    &::-moz-focus-inner {
        border: none;
    }
}

.Polaris-ActionList__Item.Polaris-ActionList--active {
    background-image: $actionlist-item-active-bgimage;
}

.Polaris-ActionList__Item.Polaris-ActionList--destructive {
    color: $actionlist-item-destructive-bgimage;

    svg {
        fill: $actionlist-item-destructive-svg-color;
    }

    &:active {
        background-image: $actionlist-item-destructive-active-bgimage;

        &:hover {
            background-image: $actionlist-item-destructive-active-hover-bgimage;

            &:focus {
                box-shadow: $actionlist-item-destructive-active-hover-focus-box-shadow;
                background-image: $actionlist-item-destructive-active-hover-focus-bgimage;
            }
        }
    }

    &:hover {
        background-image: $actionlist-item-destructive-hover-bgimage;

        &:focus {
            box-shadow: $actionlist-item-destructive-hover-focus-box-shadow;
            background-image: $actionlist-item-destructive-hover-focus-bgimage;
        }
    }

    &:focus {
        box-shadow: $actionlist-item-destructive-focus-box-shadow;
        background-image: $actionlist-item-destructive-focus-bgimage;
    }
}

.Polaris-ActionList__Item.Polaris-ActionList--disabled {
    background-image: $actionlist-item-disabled-bgimage;
    color: $actionlist-item-disabled-color;
    pointer-events: none;

    .Polaris-ActionList__Image {
        svg {
            fill: $actionlist-item-disabled-image-svg-fill;
            color: $actionlist-item-disabled-image-svg-color;
        }
    }
}
/*
.Polaris-ActionList__Item.Polaris-ActionList--globalTheming {
    padding: 1rem .8rem;
    border-radius: var(--p-border-radius-base);

    &:hover {
        background-image: none;
        background-color: var(--p-surface-hovered);

        &:focus {
            box-shadow: none;
            background-image: none;
        }
    }

    &:active {
        background-image: none;
        background-color: var(--p-surface-pressed);

        &:hover {
            &:focus {
                box-shadow: none;
                background-image: none;
            }
        }
    }

    &:focus {
        box-shadow: none;
        background-image: none;

        &:not(:active) {
            position: relative;

            &:after {
                content: var(--p-non-null-content, none);
                position: absolute;
                z-index: 1;
                top: -.3rem;
                right: -.3rem;
                bottom: -.3rem;
                left: -.3rem;
                display: block;
                border: .2rem solid var(--p-interactive-focus);
                border-radius: calc(var(--p-border-radius-base) + .3rem);
                pointer-events: none;
            }
        }
    }
}

.Polaris-ActionList__Item.Polaris-ActionList--globalTheming.Polaris-ActionList--active {
    background-image: none;
    background-color: var(--p-surface-pressed);
}

.Polaris-ActionList__Item.Polaris-ActionList--globalTheming.Polaris-ActionList--destructive {
    color: var(--p-critical-link);

    svg {
        fill: var(--p-critical-icon);
    }

    &:hover {
        background-image: none;
        background-color: var(--p-critical-surface-subdued-hovered);

        &:focus {
            box-shadow: none;
            background-image: none;
        }
    }

    &:active {
        background-image: none;
        background-color: var(--p-critical-surface-subdued-pressed);

        &:hover {
            &:focus {
                box-shadow: none;
                background-image: none;
            }
        }
    }

    &:focus {
        box-shadow: none;
        background-image: none;
    }
}

.Polaris-ActionList__Item.Polaris-ActionList--globalTheming.Polaris-ActionList--destructive.Polaris-ActionList--active {
    background-image: none;
    background-color: var(--p-critical-surface-subdued-pressed);
}

.Polaris-ActionList__Item.Polaris-ActionList--globalTheming.Polaris-ActionList--disabled {
    background-image: none;
    color: var(--p-text-disabled-on-surface);

    .Polaris-ActionList__Image {
        svg {
            fill: var(--p-icon-disabled-on-surface);
        }
    }
}*/

.Polaris-ActionList__Content {
    display: flex;
    align-items: center;
}

.Polaris-ActionList__Image {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: $actionlist-image-radius;
    margin: -1rem 1.6rem -1rem 0;
    background-size: cover;
    background-position: 50%;

    svg {
        fill: $actionlist-image-svg-fill;
        color: $actionlist-image-svg-color;
    }
}

.Polaris-ActionList__Text {
    min-width: 0;
    max-width: 100%;
    flex: 1 1 auto;
}

.Polaris-ActionList__BadgeWrapper {
    margin-left: 1.6rem;
}
