.Polaris-Breadcrumbs__Breadcrumb {
    font-size: $breadcrumbs-font-size;
    font-weight: $breadcrumbs-font-weight;
    line-height: $breadcrumbs-line-height;
    text-transform: none;
    letter-spacing: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 3.6rem;
    margin: -.4rem -.8rem -.4rem -.4rem;
    color: $breadcrumbs-color;
    text-decoration: none;
    @media (min-width:40em) {
        font-size: $breadcrumbs-media-font-size;
    }
    &:active {
        color: $breadcrumbs-active-color;
        text-decoration: none;

        .Polaris-Breadcrumbs__Icon {
            svg {
                fill: $breadcrumbs-active-icon-fill;
            }
        }

        .Polaris-Breadcrumbs__ContentWrapper {
            background: $breadcrumbs-active-content-bgcolor;
        }
    }

    &:hover {
        color: $breadcrumbs-hover-color;
        text-decoration: none;

        .Polaris-Breadcrumbs__Icon {
            svg {
                fill: $breadcrumbs-hover-icon-svg-fill;
            }
        }
    }

    &:focus {
        outline: none;

        .Polaris-Breadcrumbs__ContentWrapper {
            background: $breadcrumbs-focus-content-bgcolor;
        }

        &:not(:active) {
            .Polaris-Breadcrumbs__ContentWrapper {
                position: relative;

                &:after {
                    content: var(--p-non-null-content, none);
                    position: absolute;
                    z-index: 1;
                    top: -.3rem;
                    right: -.3rem;
                    bottom: -.3rem;
                    left: -.3rem;
                    display: block;
                    border: $breadcrumbs-focus-content-after-border;
                    border-radius: $breadcrumbs-focus-content-after-border-radius;
                    pointer-events: none;
                }
            }
        }
    }
}

.Polaris-Breadcrumbs__ContentWrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: .8rem;
    background: transparent;
    height: 2.8rem;
    border-radius: $breadcrumbs-content-border-radius;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: background;
    transition: background .2s cubic-bezier(.64, 0, .35, 1);
}

.Polaris-Breadcrumbs__Content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}

.Polaris-Breadcrumbs__Icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 -.8rem;

    svg {
        fill: $breadcrumbs-icon-svg;
    }
}
