.Polaris-Button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 3.6rem;
  min-width: 3.6rem;
  margin: 0;
  padding: 0.7rem 1.6rem;
  background: $p-surface;
  box-shadow: $p-button-drop-shadow;
  border-radius: $p-border-radius-base;
  color: $p-text;
  border: 1px solid $p-border-neutral-subdued;
  border-top-color: $p-border-subdued;
  border-bottom-color: $p-border-shadow-subdued;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.Polaris-Button svg {
  fill: $p-icon;
}

.Polaris-Button::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.2rem;
  right: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.2rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button:hover {
  background: $p-action-secondary-hovered;
  outline: 0.1rem solid transparent;
}

.Polaris-Button:focus {
  box-shadow: $p-button-drop-shadow;
  outline: 0;
}

.Polaris-Button:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button:active {
  background: $p-action-secondary-pressed;
  box-shadow: $p-button-drop-shadow;
}

.Polaris-Button:active::after {
  border: none;
  box-shadow: none;
}

.Polaris-Button.Polaris-Button--pressed {
  background: $p-action-secondary-depressed;
  box-shadow: $p-button-pressed-inner-shadow;
  color: $p-text-on-primary;
  border-color: $p-border-depressed;
}

.Polaris-Button.Polaris-Button--pressed svg {
  fill: currentColor;
}

@media (-ms-high-contrast: active) {
  .Polaris-Button {
    border: 1px solid windowText;
  }
}

.Polaris-Button.Polaris-Button--disabled {
  transition: none;
  box-shadow: none;
  border-color: $p-border-disabled;
  background: $p-surface-disabled;
  color: $p-text-disabled;
}

.Polaris-Button.Polaris-Button--disabled svg {
  fill: $p-icon-disabled;
}

.Polaris-Button.Polaris-Button--connectedDisclosure {
  z-index: 10;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Polaris-Button.Polaris-Button--connectedDisclosure::after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Polaris-Button.Polaris-Button--connectedDisclosure:focus {
  z-index: 20;
}

.Polaris-Button__Content {
  font-size: 1.5rem;
  font-weight: $p-button-font-weight;
  line-height: 1.6rem;
  text-transform: initial;
  letter-spacing: initial;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1px;
  min-height: 1px;
}

@media (min-width: 40em) {
  .Polaris-Button__Content {
    font-size: 1.4rem;
  }
}

.Polaris-Button:not(.Polaris-Button--plain) .Polaris-Button__Content {
  width: 100%;
}

.Polaris-Button--textAlignLeft {
  justify-content: flex-start;
  text-align: left;
}

.Polaris-Button--textAlignLeft .Polaris-Button__Content {
  justify-content: flex-start;
}

.Polaris-Button--textAlignCenter {
  justify-content: center;
  text-align: center;
}

.Polaris-Button--textAlignRight {
  justify-content: flex-end;
  text-align: right;
}

.Polaris-Button--textAlignRight .Polaris-Button__Content {
  justify-content: flex-end;
}

.Polaris-Button__Icon {
  margin-left: -0.4rem;
}

.Polaris-Button__Icon:last-child {
  margin-right: -0.8rem;
  margin-left: 0.4rem;
}

.Polaris-Button--fullWidth.Polaris-Button--textAlignLeft .Polaris-Button__Icon:last-child:not(:only-child) {
  margin-left: auto;
}

.Polaris-Button__Icon + *:not(.Polaris-Button__Icon) {
  margin-left: 0.4rem;
}

.Polaris-Button--hidden {
  visibility: hidden;
}

.Polaris-Button__Spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1rem;
}

.Polaris-Button--primary {
  --p-button-color: rgba(0, 128, 96, 1);
  --p-button-text: rgba(255, 255, 255, 1);
  --p-button-color-hover: rgba(0, 110, 82, 1);
  --p-button-color-active: rgba(0, 94, 70, 1);
  --p-button-color-depressed: rgba(0, 61, 44, 1);
  position: relative;
  background: var(--p-button-color);
  border-width: 0;
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
  color: var(--p-button-text);
}

.Polaris-Button--primary::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.1rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--primary:hover {
  background: var(--p-button-color-hover);
  border-color: transparent;
  color: var(--p-button-text);
}

.Polaris-Button--primary:focus {
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--primary:active {
  background: var(--p-button-color-active);
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--primary.Polaris-Button--pressed {
  color: var(--p-button-text);
  background: var(--p-button-color-depressed);
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--primary.Polaris-Button--pressed:hover, .Polaris-Button--primary.Polaris-Button--pressed:focus {
  background: var(--p-button-color-depressed);
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--primary svg {
  fill: $p-icon-on-primary;
}

.Polaris-Button--primary.Polaris-Button--disabled {
  background: rgba(0, 128, 96, 1);
  color: $p-text-disabled;
  border-color: transparent;
  box-shadow: none;
}

.Polaris-Button--primary.Polaris-Button--disabled svg {
  fill: $p-icon-disabled;
}

.Polaris-Button--destructive {
  --p-button-color: rgba(216, 44, 13, 1);
  --p-button-text: rgba(255, 255, 255, 1);
  --p-button-color-hover: rgba(188, 34, 0, 1);
  --p-button-color-active: rgba(162, 27, 0, 1);
  --p-button-color-depressed: rgba(108, 15, 0, 1);
  position: relative;
  background: var(--p-button-color);
  border-width: 0;
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
  color: var(--p-button-text);
}

.Polaris-Button--destructive::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.1rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--destructive:hover {
  background: var(--p-button-color-hover);
  border-color: transparent;
  color: var(--p-button-text);
}

.Polaris-Button--destructive:focus {
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--destructive:active {
  background: var(--p-button-color-active);
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--destructive.Polaris-Button--pressed {
  color: var(--p-button-text);
  background: var(--p-button-color-depressed);
  border-color: transparent;
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--destructive.Polaris-Button--pressed:hover, .Polaris-Button--destructive.Polaris-Button--pressed:focus {
  background: var(--p-button-color-depressed);
  box-shadow: $p-button-drop-shadow, $p-button-inner-shadow;
}

.Polaris-Button--destructive svg {
  fill: $p-icon-on-critical;
}

.Polaris-Button--destructive.Polaris-Button--disabled {
  background: rgba(216, 44, 13, 1);
  color: $p-text-disabled;
  box-shadow: none;
  border-color: transparent;
}

.Polaris-Button--destructive.Polaris-Button--disabled svg {
  fill: $p-icon-disabled;
}

.Polaris-Button--destructiveText {
  color: rgba(216, 44, 13, 1);

  &:hover {
    color: rgba(216, 44, 13, 1);
  }

  svg {
    fill: rgba(216, 44, 13, 1);
  }
}

.Polaris-Button__DisclosureIcon {
  transition-property: transform;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0, 0, .42, 1);
}

.Polaris-Button__DisclosureIconFacingUp {
  transform: rotate(-180deg);
}

.Polaris-Button--outline {
  background: transparent;
  border: 0.1rem solid $p-border;
  box-shadow: none;
  color: $p-text;
  position: relative;
}

.Polaris-Button--outline::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.2rem;
  right: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.2rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--outline:hover {
  border: 0.1rem solid $p-border;
  box-shadow: none;
  background: $p-surface-hovered;
}

.Polaris-Button--outline:focus {
  border: 0.1rem solid $p-border;
  box-shadow: none;
}

.Polaris-Button--outline:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--outline:active {
  border: 0.1rem solid $p-border;
  box-shadow: none;
  background: $p-surface-pressed;
}

.Polaris-Button--outline:active::after {
  box-shadow: none;
}

.Polaris-Button--outline.Polaris-Button--pressed {
  background: $p-action-secondary-pressed;
  border: 0.1rem solid $p-border;
  box-shadow: none;
  color: var(--p-button-text);
}

.Polaris-Button--outline.Polaris-Button--disabled {
  border: 0.1rem solid $p-border-disabled;
  box-shadow: none;
  background: transparent;
  color: $p-text-disabled;
}

.Polaris-Button--outline.Polaris-Button--destructive {
  background: transparent;
  border: 0.1rem solid $p-border-critical;
  box-shadow: none;
  color: $p-interactive-critical;
}

.Polaris-Button--outline.Polaris-Button--primary {
  background: transparent;
  border: 0.1rem solid rgba(0, 128, 96, 1);
  box-shadow: none;
  color: rgba(0, 128, 96, 1);
}

.Polaris-Button--outline.Polaris-Button--destructive svg {
  fill: $p-icon-critical;
}

.Polaris-Button--outline.Polaris-Button--destructive:hover {
  border: 0.1rem solid $p-border-critical;
  background: $p-surface-critical-subdued;
}

.Polaris-Button--outline.Polaris-Button--destructive:focus {
  border: 0.1rem solid $p-border-critical;
}

.Polaris-Button--outline.Polaris-Button--destructive:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--outline.Polaris-Button--destructive:active {
  border: 0.1rem solid $p-border-critical;
  background: $p-surface-critical-subdued;
}

.Polaris-Button--outline.Polaris-Button--destructive.Polaris-Button--disabled {
  border: 0.1rem solid $p-border-critical-disabled;
  background: transparent;
  color: $p-interactive-critical-disabled;
}

.Polaris-Button--outline.Polaris-Button--destructive.Polaris-Button--pressed {
  background: $p-surface-critical-subdued;
  box-shadow: 0.1rem solid $p-border-critical;
  color: $p-interactive-critical;
}

.Polaris-Button--outline.Polaris-Button--disabled {
  background: transparent;
  box-shadow: none;
}

.Polaris-Button--destructive.Polaris-Button--outline {
  background: transparent;
  border: 0.1rem solid $p-border;
  box-shadow: none;
  color: $p-text;
  position: relative;
}

.Polaris-Button--destructive.Polaris-Button--outline::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.2rem;
  right: -0.2rem;
  bottom: -0.2rem;
  left: -0.2rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.2rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--destructive.Polaris-Button--outline:hover {
  border: 0.1rem solid $p-border;
  box-shadow: none;
  background: $p-surface-hovered;
}

.Polaris-Button--destructive.Polaris-Button--outline:focus {
  border: 0.1rem solid $p-border;
  box-shadow: none;
}

.Polaris-Button--destructive.Polaris-Button--outline:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--destructive.Polaris-Button--outline:active {
  border: 0.1rem solid $p-border;
  box-shadow: none;
  background: $p-surface-pressed;
}

.Polaris-Button--destructive.Polaris-Button--outline:active::after {
  box-shadow: none;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--pressed {
  background: $p-action-secondary-pressed;
  border: 0.1rem solid $p-border;
  box-shadow: none;
  color: var(--p-button-text);
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--disabled {
  border: 0.1rem solid $p-border-disabled;
  box-shadow: none;
  background: transparent;
  color: $p-text-disabled;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive {
  background: transparent;
  border: 0.1rem solid $p-border-critical;
  box-shadow: none;
  color: $p-interactive-critical;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive svg {
  fill: $p-icon-critical;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive:hover {
  border: 0.1rem solid $p-border-critical;
  background: $p-surface-critical-subdued;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive:focus {
  border: 0.1rem solid $p-border-critical;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive:active {
  border: 0.1rem solid $p-border-critical;
  background: $p-surface-critical-subdued;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive.Polaris-Button--disabled {
  border: 0.1rem solid $p-border-critical-disabled;
  background: transparent;
  color: $p-interactive-critical-disabled;
}

.Polaris-Button--destructive.Polaris-Button--outline.Polaris-Button--destructive.Polaris-Button--pressed {
  background: $p-surface-critical-subdued;
  box-shadow: 0.1rem solid $p-border-critical;
  color: $p-interactive-critical;
}

.Polaris-Button--disabled {
  cursor: default;
  pointer-events: none;
}

@keyframes Polaris-Button--loading {
  to {
    transform: rotate(360deg);
  }
}

.Polaris-Button--loading {
  position: relative;
}

.Polaris-Button--loading, .Polaris-Button--loading:hover, .Polaris-Button--loading.Polaris-Button--disabled {
  color: transparent;
}

.Polaris-Button--loading.Polaris-Button--disabled svg {
  fill: $p-icon-subdued;
}

.Polaris-Button--plain {
  margin: -0.7rem -0.8rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: $p-interactive;
}

.Polaris-Button--plain svg {
  fill: $p-interactive;
}

.Polaris-Button--plain > .Polaris-Button__Content {
  font-weight: 400;
  position: relative;
}

.Polaris-Button--plain > .Polaris-Button__Content::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.1rem;
  right: -0.1rem;
  bottom: -0.1rem;
  left: -0.1rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.1rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--plain:hover, .Polaris-Button--plain:focus {
  color: $p-interactive-hovered;
  background: transparent;
  box-shadow: none;
}

.Polaris-Button--plain:hover svg, .Polaris-Button--plain:focus svg {
  fill: $p-interactive-hovered;
}

.Polaris-Button--plain:hover:not(.Polaris-Button--removeUnderline), .Polaris-Button--plain:focus:not(.Polaris-Button--removeUnderline) {
  text-decoration: underline;
}

.Polaris-Button--plain.Polaris-Button--pressed, .Polaris-Button--plain:active {
  color: $p-interactive-pressed;
  background: transparent;
  box-shadow: none;
}

.Polaris-Button--plain.Polaris-Button--pressed svg, .Polaris-Button--plain:active svg {
  fill: $p-interactive-pressed;
}

@media (-ms-high-contrast: active) {
  .Polaris-Button--plain.Polaris-Button--pressed, .Polaris-Button--plain:active {
    outline: none;
  }
}

.Polaris-Button--plain:focus::after {
  content: none;
}

@media (-ms-high-contrast: active) {
  .Polaris-Button--plain:focus {
    outline: none;
  }
}

@media (-ms-high-contrast: active) {
  .Polaris-Button--plain:focus > .Polaris-Button__Content {
    outline: 2px dotted;
  }
}

.Polaris-Button--plain:focus:not(:active) > .Polaris-Button__Content::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--plain:active:not(.Polaris-Button--iconOnly) > .Polaris-Button__Content, .Polaris-Button--plain.Polaris-Button--pressed:not(.Polaris-Button--iconOnly) > .Polaris-Button__Content {
  padding: 2px 5px;
  margin: -2px -5px;
  background: $p-action-secondary-hovered;
  border-radius: 3px;
}

.Polaris-Button--plainAction {
  border: unset;
  box-shadow: unset;
  background: transparent;
}

.Polaris-Button--plainAction.Polaris-Button {
  box-shadow: unset;
}

.Polaris-Button--plainAction.Polaris-Button--destructive {
  border: unset;
  background: transparent;
  color: rgba(216, 44, 13, 1);
}

.Polaris-Button--plainAction.Polaris-Button--primary {
  border: unset;
  background: transparent;
  color: rgba(0, 128, 96, 1);
}

.Polaris-Button--plain.Polaris-Button--fullWidth {
  margin-left: 0;
  margin-right: 0;
}

.Polaris-Button--plain.Polaris-Button--disabled {
  color: $p-text-disabled;
  background: none;
}

.Polaris-Button--plain.Polaris-Button--disabled.Polaris-Button--loading {
  color: transparent;
}

.Polaris-Button--plain.Polaris-Button--destructive {
  color: $p-interactive-critical;
}

.Polaris-Button--plain.Polaris-Button--destructive svg {
  fill: $p-interactive-critical;
}

.Polaris-Button--plain.Polaris-Button--destructive:hover {
  color: $p-interactive-critical-hovered;
}

.Polaris-Button--plain.Polaris-Button--destructive:active, .Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--pressed {
  color: $p-interactive-critical-pressed;
}

.Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--disabled {
  color: $p-interactive-critical-disabled;
}

.Polaris-Button--plain.Polaris-Button--sizeSlim {
  margin-top: -0.3rem;
  margin-bottom: -0.3rem;
}

.Polaris-Button--plain.Polaris-Button--sizeLarge {
  margin: -1.1rem -2rem;
}

.Polaris-Button--plain.Polaris-Button--iconOnly {
  margin: -0.8rem;
}

.Polaris-Button--plain.Polaris-Button--iconOnly svg {
  fill: $p-icon;
}

.Polaris-Button--plain.Polaris-Button--iconOnly:hover svg {
  fill: $p-icon-hovered;
}

.Polaris-Button--plain.Polaris-Button--iconOnly:active svg, .Polaris-Button--plain.Polaris-Button--iconOnly.Polaris-Button--pressed svg {
  fill: $p-icon-pressed;
}

.Polaris-Button--plain.Polaris-Button--iconOnly.Polaris-Button--disabled svg {
  fill: $p-icon-disabled;
}

.Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--iconOnly svg {
  fill: $p-action-critical;
}

.Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--iconOnly:hover svg {
  fill: $p-action-critical-hovered;
}

.Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--iconOnly:active svg, .Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--iconOnly.Polaris-Button--pressed svg {
  fill: $p-action-critical-pressed;
}

.Polaris-Button--plain.Polaris-Button--destructive.Polaris-Button--iconOnly.Polaris-Button--disabled svg {
  fill: $p-action-critical-disabled;
}

.Polaris-Button--plain .Polaris-Button__Icon {
  margin-left: 0;
  margin-right: 0;
}

.Polaris-Button--fullWidth {
  display: flex;
  width: 100%;
}

.Polaris-Button--iconOnly {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.Polaris-Button--iconOnly.Polaris-Button--sizeLarge {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.Polaris-Button--iconOnly .Polaris-Button__Icon:first-child {
  margin-left: 0;
}

.Polaris-Button--iconOnly .Polaris-Button__Icon:last-child {
  margin-right: -0.4rem;
}

.Polaris-Button--iconOnly .Polaris-Button__Icon:only-child {
  margin-right: 0;
}

.Polaris-Button--sizeSlim {
  min-height: 2.8rem;
  padding: 0.3rem 1.2rem;
}

.Polaris-Button--sizeLarge {
  min-height: 4.4rem;
  min-width: 4.4rem;
  padding: 1.1rem 2.4rem;
}

.Polaris-Button--sizeLarge .Polaris-Button__Content {
  font-size: 1.7rem;
  font-weight: $p-button-font-weight;
  line-height: 2rem;
  text-transform: initial;
  letter-spacing: initial;
}

@media (min-width: 40em) {
  .Polaris-Button--sizeLarge .Polaris-Button__Content {
    font-size: 1.6rem;
  }
}

.Polaris-Button--monochrome.Polaris-Button--outline, .Polaris-Button--monochrome.Polaris-Button--plain {
  color: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline svg, .Polaris-Button--monochrome.Polaris-Button--plain svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline:hover, .Polaris-Button--monochrome.Polaris-Button--outline:focus, .Polaris-Button--monochrome.Polaris-Button--outline:active, .Polaris-Button--monochrome.Polaris-Button--plain:hover, .Polaris-Button--monochrome.Polaris-Button--plain:focus, .Polaris-Button--monochrome.Polaris-Button--plain:active {
  color: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline:hover svg, .Polaris-Button--monochrome.Polaris-Button--outline:focus svg, .Polaris-Button--monochrome.Polaris-Button--outline:active svg, .Polaris-Button--monochrome.Polaris-Button--plain:hover svg, .Polaris-Button--monochrome.Polaris-Button--plain:focus svg, .Polaris-Button--monochrome.Polaris-Button--plain:active svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--disabled, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--disabled {
  color: currentColor;
  opacity: 0.4;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--disabled svg, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--disabled svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly svg, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly:focus svg, .Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly:active svg, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly:focus svg, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly:active svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--iconOnly.Polaris-Button--disabled svg, .Polaris-Button--monochrome.Polaris-Button--plain.Polaris-Button--iconOnly.Polaris-Button--disabled svg {
  fill: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--plain .Polaris-Button__Text:not(.Polaris-Button--removeUnderline) {
  text-decoration: underline;
}

.Polaris-Button--monochrome.Polaris-Button--outline {
  position: relative;
  border-color: currentColor;
  box-shadow: 0 0 0 0.1rem currentColor;
  position: relative;
}

.Polaris-Button--monochrome.Polaris-Button--outline::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -0.3rem;
  right: -0.3rem;
  bottom: -0.3rem;
  left: -0.3rem;
  display: block;
  pointer-events: none;
  box-shadow: 0 0 0 -0.3rem $p-focused;
  transition: box-shadow 100ms $p-ease;
  border-radius: calc(0.4rem + 0.1rem);
}

.Polaris-Button--monochrome.Polaris-Button--outline::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  opacity: 0;
  z-index: 0;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--pressed {
  background: transparent;
  box-shadow: none;
  color: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline.Polaris-Button--pressed::before {
  opacity: 0.2;
}

.Polaris-Button--monochrome.Polaris-Button--outline:hover, .Polaris-Button--monochrome.Polaris-Button--outline:focus, .Polaris-Button--monochrome.Polaris-Button--outline:active {
  background-color: transparent;
  border-color: currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline:hover::before, .Polaris-Button--monochrome.Polaris-Button--outline:focus::before, .Polaris-Button--monochrome.Polaris-Button--outline:active::before {
  opacity: 0.07;
}

.Polaris-Button--monochrome.Polaris-Button--outline:focus {
  box-shadow: 0 0 0 1px currentColor;
}

.Polaris-Button--monochrome.Polaris-Button--outline:focus::after {
  box-shadow: 0 0 0 0.2rem $p-focused;
  outline: 0.1rem solid transparent;
}

.Polaris-Button--monochrome.Polaris-Button--outline:active::after {
  box-shadow: none;
}

.Polaris-Button--monochrome.Polaris-Button--outline:hover::before, .Polaris-Button--monochrome.Polaris-Button--outline:active::before {
  opacity: 0.05;
}

.Polaris-Button__ConnectedDisclosureWrapper {
  display: flex;
}

.Polaris-Button__ConnectedDisclosure {
  z-index: 10;
  margin-left: -0.1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
}

.Polaris-Button__ConnectedDisclosure.Polaris-Button--outline:not(:focus) {
  border-left-color: rgba(99, 115, 129, 0);
}

.Polaris-Button__ConnectedDisclosureWrapper .Polaris-Button::after {
  box-shadow: unset;
}

.Polaris-Button__ConnectedDisclosure:focus, .Polaris-Button__ConnectedDisclosure:active {
  z-index: 20;
}

.Polaris-Button__ConnectedDisclosure.Polaris-Button--primary, .Polaris-Button__ConnectedDisclosure.Polaris-Button--destructive {
  margin-left: 0.1rem;
}

.Polaris-Button__ConnectedDisclosure.Polaris-Button--primary.Polaris-Button--outline, .Polaris-Button__ConnectedDisclosure.Polaris-Button--destructive.Polaris-Button--outline {
  margin-left: 0;
  border-left: 0;
}

.Polaris-Button__ConnectedDisclosure::after {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[data-buttongroup-segmented='true'] .Polaris-Button, [data-buttongroup-segmented='true'] .Polaris-Button::after {
  border-radius: 0;
}

[data-buttongroup-segmented='true'] > :first-child .Polaris-Button, [data-buttongroup-segmented='true'] > :first-child .Polaris-Button::after {
  border-radius: 0;
  border-top-left-radius: $p-border-radius-base;
  border-bottom-left-radius: $p-border-radius-base;
}

[data-buttongroup-segmented='true'] > :last-child .Polaris-Button, [data-buttongroup-segmented='true'] > :last-child .Polaris-Button::after {
  border-radius: 0;
  border-top-right-radius: $p-border-radius-base;
  border-bottom-right-radius: $p-border-radius-base;
}

[data-buttongroup-segmented='true'] > :last-child:first-child .Polaris-Button, [data-buttongroup-segmented='true'] > :last-child:first-child .Polaris-Button::after {
  border-radius: $p-border-radius-base;
}

[data-buttongroup-connected-top='true'] > :first-child .Polaris-Button, [data-buttongroup-connected-top='true'] > :first-child .Polaris-Button::after {
  border-top-left-radius: 0;
}

[data-buttongroup-connected-top='true'] > :last-child .Polaris-Button, [data-buttongroup-connected-top='true'] > :last-child .Polaris-Button::after {
  border-top-right-radius: 0;
}

[data-buttongroup-full-width='true'] .Polaris-Button {
  display: flex;
  width: 100%;
}


.Polaris-ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -0.8rem;
  margin-left: -0.8rem;
}

.Polaris-ButtonGroup__Item {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.Polaris-ButtonGroup__Item--plain:not(:first-child) {
  margin-left: 1.6rem;
}

.Polaris-ButtonGroup__Item--plain:not(:last-child) {
  margin-right: 0.8rem;
}

.Polaris-ButtonGroup--segmented {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0;
  margin-left: 0;
}

.Polaris-ButtonGroup--segmented .Polaris-Button::after {
  box-shadow: unset;
}

.Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item {
  position: relative;
  z-index: 10;
  margin-top: 0;
  margin-left: 0;
}

.Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item:not(:first-child) {
  margin-left: -0.1rem;
}

.Polaris-ButtonGroup--segmented .Polaris-ButtonGroup__Item--focused {
  z-index: 20;
}

.Polaris-ButtonGroup--fullWidth .Polaris-ButtonGroup__Item {
  flex: 1 1 auto;
}

.Polaris-ButtonGroup--extraTight {
  margin-top: -0.4rem;
  margin-left: -0.4rem;
}

.Polaris-ButtonGroup--extraTight .Polaris-ButtonGroup__Item {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.Polaris-ButtonGroup--tight {
  margin-top: -0.8rem;
  margin-left: -0.8rem;
}

.Polaris-ButtonGroup--tight .Polaris-ButtonGroup__Item {
  margin-top: 0.8rem;
  margin-left: 0.8rem;
}

.Polaris-ButtonGroup--loose {
  margin-top: -2rem;
  margin-left: -2rem;
}

.Polaris-ButtonGroup--loose .Polaris-ButtonGroup__Item {
  margin-top: 2rem;
  margin-left: 2rem;
}
