.color-picker-field span.picker {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
  z-index: 25;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .24);
  float: left;
  left: 0;
  margin: 0 10px 0 0;
}

.color-picker-field {
  position: relative;
}

.picker-wrapper {
  position: absolute;
  top: 100%;
  z-index: 111;
}

.picker {
  position: relative !important;
  display: inline-block;
}

.vc-chrome input {
  font-family: inherit;
}

.vc-chrome {
  font-family: inherit !important;
  box-shadow: -1px 0px 20px rgba(23, 24, 24, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.8rem !important;
  border: none !important;
  overflow: hidden;
}

.vc-chrome-saturation-wrap {
  box-shadow: -1px 0px 20px rgba(23, 24, 24, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.8rem 0.8rem 0 0 !important;
  border: none !important;
}


.Polaris-ColorPicker--disabled {
  pointer-events: none;
  opacity: 0.4;
}

//Chrome

.vc-chrome {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 4px 8px rgba(0, 0, 0, .3);
  box-sizing: initial;
  width: 225px;
  font-family: Menlo;
  background-color: #fff;
}

.vc-chrome-controls {
  display: flex;
}

.vc-chrome-color-wrap {
  position: relative;
  width: 36px;
}

.vc-chrome-active-color {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
}

.vc-chrome-color-wrap .vc-checkerboard {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: auto;
}

.vc-chrome-sliders {
  flex: 1;
}

.vc-chrome-fields-wrap {
  display: flex;
  padding-top: 16px;
}

.vc-chrome-fields {
  display: flex;
  margin-left: -6px;
  flex: 1;
}

.vc-chrome-field {
  padding-left: 6px;
  width: 100%;
}

.vc-chrome-toggle-btn {
  width: 32px;
  text-align: right;
  position: relative;
}

.vc-chrome-toggle-icon {
  margin-right: -4px;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.vc-chrome-toggle-icon-highlight {
  position: absolute;
  width: 24px;
  height: 28px;
  background: #eee;
  border-radius: 4px;
  top: 10px;
  left: 12px;
}

.vc-chrome-hue-wrap {
  position: relative;
  height: 10px;
  margin-bottom: 8px;
}

.vc-chrome-alpha-wrap {
  position: relative;
  height: 10px;
}

.vc-chrome-hue-wrap .vc-hue {
  border-radius: 2px;
}

.vc-chrome-alpha-wrap .vc-alpha-gradient {
  border-radius: 2px;
}

.vc-chrome-hue-wrap .vc-hue-picker, .vc-chrome-alpha-wrap .vc-alpha-picker {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transform: translate(-6px, -2px);
  background-color: rgb(248, 248, 248);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.vc-chrome-body {
  padding: 16px 16px 12px;
  background-color: #fff;
}

.vc-chrome-saturation-wrap {
  width: 100%;
  padding-bottom: 55%;
  position: relative;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.vc-chrome-saturation-wrap .vc-saturation-circle {
  width: 12px;
  height: 12px;
}

.vc-chrome-fields .vc-input__input {
  font-size: 11px;
  color: #333;
  width: 100%;
  border-radius: 2px;
  border: none;
  box-shadow: inset 0 0 0 1px #dadada;
  height: 21px;
  text-align: center;
}

.vc-chrome-fields .vc-input__label {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  color: #969696;
  text-align: center;
  display: block;
  margin-top: 12px;
}

.vc-chrome__disable-alpha .vc-chrome-active-color {
  width: 18px;
  height: 18px;
}

.vc-chrome__disable-alpha .vc-chrome-color-wrap {
  width: 30px;
}

.vc-chrome__disable-alpha .vc-chrome-hue-wrap {
  margin-top: 4px;
  margin-bottom: 4px;
}

//Alpha

.vc-alpha {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.vc-alpha-checkboard-wrap {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
}

.vc-alpha-gradient {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.vc-alpha-container {
  cursor: pointer;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0 3px;
}

.vc-alpha-pointer {
  z-index: 2;
  position: absolute;
}

.vc-alpha-picker {
  cursor: pointer;
  width: 4px;
  border-radius: 1px;
  height: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  background: #fff;
  margin-top: 1px;
  transform: translateX(-2px);
}

//Check-board

.vc-checkerboard {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-size: contain;
}

//EditableInput

.vc-editable-input {
  position: relative;
}

.vc-input__input {
  padding: 0;
  border: 0;
  outline: none;
}

.vc-input__label {
  text-transform: capitalize;
}

//Hue

.vc-hue {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 2px;
}

.vc-hue--horizontal {
  background: linear-gradient(to right, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.vc-hue--vertical {
  background: linear-gradient(to top, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, #f00 100%);
}

.vc-hue-container {
  cursor: pointer;
  margin: 0 2px;
  position: relative;
  height: 100%;
}

.vc-hue-pointer {
  z-index: 2;
  position: absolute;
}

.vc-hue-picker {
  cursor: pointer;
  margin-top: 1px;
  width: 4px;
  border-radius: 1px;
  height: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .6);
  background: #fff;
  transform: translateX(-2px);
}

//Saturation

.vc-saturation,
.vc-saturation--white,
.vc-saturation--black {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.vc-saturation--white {
  background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.vc-saturation--black {
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
}

.vc-saturation-pointer {
  cursor: pointer;
  position: absolute;
}

.vc-saturation-circle {
  cursor: head;
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 1.5px #fff, inset 0 0 1px 1px rgba(0, 0, 0, .3), 0 0 1px 2px rgba(0, 0, 0, .4);
  border-radius: 50%;
  transform: translate(-2px, -2px);
}