.color-picker-field span.picker {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 20px;
  z-index: 25;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .24);
  float: left;
  left: 0;
  margin: 0 10px 0 0;
}

.color-picker-field {
  position: relative;
}

.picker-wrapper {
  position: absolute;
  top: 100%;
  z-index: 111;
}

.picker {
  position: relative !important;
  display: inline-block;
}

.vc-chrome input {
  font-family: inherit;
}

.vc-chrome {
  font-family: inherit !important;
  box-shadow: -1px 0px 20px rgba(23, 24, 24, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.8rem !important;
  border: none !important;
  overflow: hidden;
}

.vc-chrome-saturation-wrap {
  box-shadow: -1px 0px 20px rgba(23, 24, 24, 0.05), 0px 1px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.8rem 0.8rem 0 0 !important;
  border: none !important;
}


.Polaris-ColorPicker--disabled {
  pointer-events: none;
  opacity: 0.4;
}
