.Polaris-Floating {
  position: relative;

  .Polaris-Floating--label {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-font-smoothing: subpixel-antialiased;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0 1rem;
    z-index: 11;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 11px 0 10px;
    display: none;
    opacity: 0.6;
    cursor: text;
    user-select: none;
  }

  .Polaris-Floating--label--visible {
    display: block;
  }

  .Polaris-Floating--label__prefix {
    border-radius: 0 0.4rem 0.4rem 0;
    left: 40px;
  }

  .Polaris-FloatingLabels__Input {
    position: relative;
    border: $textfield-backdrop-border;
    border-radius: $p-border-radius-base;
    display: block;
    width: 100%;
    padding: 13px 11px;
    line-height: 18.2px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: $textfield-color;
    font-size: 1.4rem;
    font-weight: $textfield-font-weight;
    z-index: 11;

    &:focus-visible {
      outline: none;
    }

    &:focus ~ .Polaris-TextField__Backdrop {
      &:after {
        box-shadow: 0 0 0 .2rem $theme-shadow-color;
        outline: .1rem solid transparent;
      }
    }
  }

  .Polaris-FloatingLabels__Input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .Polaris-FloatingLabels__Input--prefix {
    border-radius: 0 0.4rem 0.4rem 0;
    border-left: none;
  }

  .Polaris-FloatingLabels__Input--number {
    border-radius: 0.4rem 0 0 0.4rem;
    border-right: none;
  }

  .Polaris-FloatingLabels__Input:not(:placeholder-shown),
  .Polaris-FloatingLabels__Input:focus {
    padding: 21px 11px 5px;
  }

  .Polaris-FloatingLabels__Input::placeholder {
    color: transparent;
    opacity: 0;
  }

  .Polaris-FloatingLabels__Input:not(:placeholder-shown) + .Polaris-Floating--label,
  .Polaris-FloatingLabels__Input:focus + .Polaris-Floating--label {
    font-size: 0.83em;
    margin-top: 5px;
    margin-bottom: 0;
    padding: 0 11px;
    line-height: 18.2px;
  }

  .Polaris-FloatingLabel__TextArea {
    min-height: 46.2px;
    flex: 1 1;
  }

  .Polaris-Floating--label--select {
    pointer-events: none;
  }

  .Polaris-FloatingField__Caret {
    border-left: 1px rgba(179,179,179,0.5) solid;
    display: block;
    width: 2.1428571429em;
    height: 43%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 11;
  }
}



.Polaris-Select-Floating-Label {
  position: relative;
}

.Polaris-Select-Floating-Label .multiselect,
.Polaris-Select-Floating-Label .multiselect .multiselect__tags {
  min-height: 46.19px;
}

.Polaris-Select-Floating-Label .multiselect .multiselect__select {
  top: 5px;min-height: 41.19px;
}

.Polaris-Select-Floating-Label .Polaris-Labelled__LabelWrapper {
  position: absolute;
  z-index: 51;
  margin: 11px 0 10px;
  padding: 0 1rem;
  line-height: 24px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-font-smoothing: subpixel-antialiased;
}

.Polaris-Select-Floating-Label .multiselect.multiselect--active .multiselect__input {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 .8rem 0 1.2rem;
}

.Polaris-Select-Floating-Label .multiselect .multiselect__tags {
  position: relative;
}

.Polaris-Select-Floating-Label.Polaris-Select--Active .Polaris-Labelled__LabelWrapper,
.Polaris-Select-Floating-Label.Polaris-Select-Has-Value .Polaris-Labelled__LabelWrapper {
  font-size: 0.83em;
  margin-top: 5px;
  margin-bottom: 0;
  padding: 0 11px;
  line-height: 18.2px;
}

.Polaris-Select-Floating-Label.Polaris-Select--Active .multiselect__input {
  line-height: 18.2px;
  min-height: 18px;
  margin: 21px 0 0;
}

.Polaris-Select-Floating-Label.Polaris-Select--Active .multiselect.multiselect--active .multiselect__input,
.Polaris-Select-Floating-Label.Polaris-Select-Has-Value .multiselect.multiselect--active .multiselect__input {
  padding: 21px 11px 5px;
  line-height: 18.2px;
}

.Polaris-Select-Floating-Label div.multiselect .multiselect__tags-wrap {
  margin: 18px 0 0;
}

.Polaris-FloatingLabels__Input--select {
  position: relative;
  border: $textfield-backdrop-border;
  border-radius: $p-border-radius-base;
  display: block;
  width: 100%;
  padding: 13px 11px;
  line-height: 18.2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: $textfield-color;
  font-size: 1.4rem;
  font-weight: $textfield-font-weight;
  z-index: 11;
  background-color: #ffffff;
  border: 0.1rem solid #c9cccf;
  box-shadow: 0 0 0 -0.2rem #2C6ECB;
  white-space: nowrap;
  appearance: none;
}

.Polaris-Select--Active .Polaris-FloatingLabels__Input--select {
  padding: 21px 9px 5px 9px;
}

