.Polaris-InlineError {
  display: flex;
  color: rgba(215, 44, 13, 1);
  fill: rgba(215, 44, 13, 1);
}

.Polaris-InlineError__Icon {
  fill: currentColor;
  margin-left: -0.2rem;
  margin-right: 0.6rem;
}
