
.Polaris-Navigation {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	width: calc(100vw - 6.4rem);
	min-width: 24rem;
	max-width: 36rem;
	height: 100%;
	min-height: 100%;
	background-color: $navigation-bgcolor;
	-webkit-overflow-scrolling: touch;
	padding-bottom: calc(0px + env(safe-area-inset-bottom));
	@media (min-width:48.0625em) {
		border-right: $navigation-border;
		max-width: 24rem;
		max-width: calc(24rem + constant(safe-area-inset-left));
		max-width: calc(24rem + env(safe-area-inset-left));
	}
	&:focus {
		outline: none;
	}
}
.Polaris-Navigation__UserMenu {
	flex: 0 0 auto;
}


@media (min-width:48.0625em) {
	.Polaris-Navigation__ContextControl {
		display: none;
	}
}

.Polaris-Navigation__PrimaryNavigation {
	display: flex;
	overflow: auto;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	max-width: 100%;
}
.Polaris-Navigation__Item {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	cursor: pointer;
	font-size: $navigation-item-font-size;
	font-weight: $navigation-item-font-weight;
	line-height: $navigation-item-line-height;
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	max-width: 100%;
	padding: 0 .8rem;
	margin: 0 .8rem;
	border-radius: $navigation-item-border-radius;
	color: $navigation-item-color;
	text-decoration: none;
	text-align: left;
	@media (min-width:48.0625em) {
		font-size: $navigation-item-media-font-size;
		font-weight: $navigation-item-media-font-weight;
		line-height: $navigation-item-media-line-height;
	}
	&:focus {
		outline: none;
		position: relative;
		background-image: $navigation-item-focus-bgimage;
		color: $navigation-item-focus-color;
		text-decoration: none;
		&:after {
			content: var(--p-non-null-content,none);
			position: absolute;
			z-index: 1;
			top: -.3rem;
			right: -.3rem;
			bottom: -.3rem;
			left: -.3rem;
			display: block;
			border: $navigation-item-focus-after-border;
			border-radius: $navigation-item-focus-after-border-radius;
			pointer-events: none;
		}
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-item-focus-icon-svg-fill;
				color: $navigation-item-focus-icon-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
		&:hover {
			color: $navigation-item-focus-hover-color;
			.Polaris-Navigation__Icon {
				svg {
					fill: $navigation-item-focus-hover-icon-svg-fill;
					color: $navigation-item-focus-hover-icon-svg-color;
				}
				img {
					-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
					filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				}
			}
		}
	}
	&:hover {
		background-image: $navigation-item-hover-bgimage;
		color: $navigation-item-hover-color;
		text-decoration: none;
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-item-hover-icon-svg-color;
				color: $navigation-item-hover-icon-svg-fill;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
	&:active {
		color: $navigation-item-active-color;
		&:hover {
			color: $navigation-item-active-hover-color;
			&:after {
				border: $navigation-item-active-hover-after-border;
			}
			.Polaris-Navigation__Icon {
				svg {
					fill: $navigation-item-active-hover-icon-svg-fill;
					color: $navigation-item-active-hover-icon-svg-color;
				}
				img {
					-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
					filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				}
			}
		}
		&:after {
			border: $navigation-item-active-after-border;
		}
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-item-active-icon-svg-fill;
				color: $navigation-item-active-icon-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
	&::-moz-focus-inner {
		border: 0;
	}
}
.Polaris-Navigation__Item--selected {
	font-weight: $navigation-item-selected-font-weight;
	color: $navigation-item-selected-color;
	background-color: $navigation-item-selected-bgcolor;
	@media (-ms-high-contrast:active) {
		background-color: highlight;
	}
	.Polaris-Navigation__Icon {
		svg {
			fill: $navigation-item-selected-icon-svg-fill;
			color: $navigation-item-selected-icon-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
	}
	&:focus {
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-item-selected-focus-icon-svg-color;
				color: $navigation-item-selected-focus-icon-svg-fill;
			}
		}
		color: $navigation-item-selected-focus-color;
		position: relative;
		&:after {
			content: var(--p-non-null-content,none);
			position: absolute;
			z-index: 1;
			top: -.3rem;
			right: -.3rem;
			bottom: -.3rem;
			left: -.3rem;
			display: block;
			border: $navigation-item-selected-focus-after-border;
			border-radius: $navigation-item-selected-focus-after-border-radius;
			pointer-events: none;
		}
	}
	&:hover {
		background-color: $navigation-item-selected-hover-bgcolor;
		color: $navigation-item-selected-hover-color;
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-item-selected-hover-icon-svg-fill;
				color: $navigation-item-selected-hover-icon-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
	&:active {
		background-color: $navigation-item-selected-active-bgcolor;
		color: $navigation-item-selected-active-color;
		&:after {
			border: $navigation-item-selected-active-after-border;
		}
	}
}
.Polaris-Navigation__Item--disabled {
	color: $navigation-item-disabled-color;
	pointer-events: none;
	opacity: var(--p-override-one,.6);
	.Polaris-Navigation__Icon {
		svg {
			fill: $navigation-item-disabled-icon-svg-fill;
			color: $navigation-item-disabled-icon-svg-color;
		}
	}
}
.Polaris-Navigation__Badge {
	margin-left: .8rem;
	display: inline-flex;
	margin-top: 1.2rem;	
	@media (min-width:48.0625em) {
		margin-top: .8rem;
	}
}
.Polaris-Navigation__Icon {
	flex-shrink: 0;
	align-self: flex-start;
	width: 2rem;
	height: 2rem;
	margin-top: 1rem;
	margin-right: 2rem;
	margin-bottom: 1rem;

	@media (min-width:48.0625em) {
		margin-top: .6rem;
		margin-right: 1.6rem;
		margin-bottom: .6rem;
	}
	svg {
		fill: $navigation-icon-svg-fill;
		color: $navigation-icon-svg-color;
		display: block;
	}
	img {
		-webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
		filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
	}
}
.Polaris-Navigation--subNavigationActive {
	.Polaris-Navigation__Icon {
		svg {
			fill: $navigation-subnavigationactive-icon-svg-fill;
			color: $navigation-subnavigationactive-icon-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
	}
	&:focus {
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-subnavigationactive-focus-icon-svg-color;
				color: $navigation-subnavigationactive-focus-icon-svg-fill;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
	&:hover {
		.Polaris-Navigation__Icon {
			svg {
				fill: $navigation-subnavigationactive-hover-icon-svg-fill;
				color: $navigation-subnavigationactive-hover-icon-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
}
.Polaris-Navigation__ListItem {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	&:first-child {
		animation-delay: 0ms;
	}
	&:nth-child(2) {
		animation-delay: 50ms;
	}
	&:nth-child(3) {
		animation-delay: .1s;
	}
	&:nth-child(4) {
		animation-delay: .15s;
	}
	&:nth-child(5) {
		animation-delay: .2s;
	}
	&:nth-child(6) {
		animation-delay: .25s;
	}
	&:nth-child(7) {
		animation-delay: .3s;
	}
	&:nth-child(8) {
		animation-delay: .35s;
	}
	&:nth-child(9) {
		animation-delay: .4s;
	}
	&:nth-child(10) {
		animation-delay: .45s;
	}
	&:nth-child(11) {
		animation-delay: .5s;
	}
	&:nth-child(12) {
		animation-delay: .55s;
	}
}
.Polaris-Navigation__RollupSection {
	.Polaris-Navigation__ListItem {
		opacity: 0;
		animation: Polaris-Navigation__fade--in .5s 1 forwards;
	}
}
.Polaris-Navigation__SecondaryNavigation {
	.Polaris-Navigation__ListItem {
		opacity: 0;
		animation: Polaris-Navigation__fade--in .5s 1 forwards;
	}
	flex-basis: 100%;
	margin-bottom: .8rem;
	margin-left: 4rem;
	overflow-x: var(--p-override-visible,hidden);
	@media (min-width:48.0625em) {
		margin-left: 3.6rem;
	}
	.Polaris-Navigation__List {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.Polaris-Navigation__Item {
		font-size: $secondarynavigation-item-font-size;
		font-weight: $secondarynavigation-item-font-weight;
		line-height: $secondarynavigation-item-line-height;
		color: $secondarynavigation-item-color;
		@media (min-width:48.0625em) {
			font-size: $secondarynavigation-item-media-font-size;
			line-height: $secondarynavigation-item-media-line-height;
		}
		&:hover {
			color: $secondarynavigation-item-hover-color;
		}
		&:focus {
			color: $secondarynavigation-item-focus-color;
			position: relative;
			&:after {
				content: var(--p-non-null-content,none);
				position: absolute;
				z-index: 1;
				top: -.3rem;
				right: -.3rem;
				bottom: -.3rem;
				left: -.3rem;
				display: block;
				border: $secondarynavigation-item-focus-after-border;
				border-radius: $secondarynavigation-item-focus-after-border-radius;
				pointer-events: none;
			}
			&:hover {
				color: $secondarynavigation-item-focus-hover-color;
			}
		}
		&:active {
			color: $secondarynavigation-item-active-color;
			&:hover {
				color: $secondarynavigation-item-active-hover-color;
				&:after {
					border: $secondarynavigation-item-active-hover-after-border;
				}
			}
			&:after {
				border: $secondarynavigation-item-active-border;
			}
		}
	}
	.Polaris-Navigation__Text {
		margin-top: 1rem;
		margin-bottom: 1rem;
		line-height: 2rem;
		@media (min-width:48.0625em) {
			margin-top: .6rem;
			margin-bottom: .6rem;
		}	
		@media (min-width:48.0625em) {
			margin-top: .4rem;
			margin-bottom: .4rem;
		}	
	}
	.Polaris-Navigation__Item--selected {
		font-weight: $secondarynavigation-item-selected-font-weight;
		color: $secondarynavigation-item-selected-color;
		&:hover {
			color: $secondarynavigation-item-selected-hover-color;
		}
		&:focus {
			color: $secondarynavigation-item-selected-focus-color;
			position: relative;
			&:after {
				content: var(--p-non-null-content,none);
				position: absolute;
				z-index: 1;
				top: -.3rem;
				right: -.3rem;
				bottom: -.3rem;
				left: -.3rem;
				display: block;
				border: $secondarynavigation-item-selected-focus-after-border;
				border-radius: $secondarynavigation-item-selected-focus-after-border-radius;
				pointer-events: none;
			}
		}
		&:active {
			color: $secondarynavigation-item-selected-active-color;
			&:after {
				border: $secondarynavigation-item-selected-active-after-border;
			}
		}
	}
	.Polaris-Navigation__Item--disabled {
		font-weight: $secondarynavigation-item-disabled-font-weight;
		color: $secondarynavigation-item-disabled-color;
	}
}
.Polaris-Navigation__ListItem--hasAction {
	.Polaris-Navigation__Item {
		max-width: calc(100% - 5.6rem);
	}
}
.Polaris-Navigation__ItemWrapper {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
.Polaris-Navigation__Text {
	flex: 1 1 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	line-height: 2rem;
}
.Polaris-Navigation__SecondaryAction {
	display: flex;
	align-items: center;
	height: 4rem;
	margin-right: .4rem;
	padding: .4rem 1.6rem;
	border-radius: $navigation-secondaryaction-border-radius;
	@media (min-width:48.0625em) {
		height: 3.2rem;
	}
	svg {
		fill: $navigation-secondaryaction-svg-fill;
		color: $navigation-secondaryaction-svg-color;
	}
	img {
		-webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
		filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
	}
	&:hover {
		background-image: $navigation-secondaryaction-hover-bgimage;
		background-color: var(--p-surface-hovered);
		svg {
			fill: $navigation-secondaryaction-hover-svg-fill;
			color: $navigation-secondaryaction-hover-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
	}
	&:focus {
		background-image: $navigation-secondaryaction-focus-bgimage;
		position: relative;
		outline: none;
		svg {
			fill: $navigation-secondaryaction-focus-svg-fill;
			color: $navigation-secondaryaction-focus-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
		&:after {
			content: var(--p-non-null-content,none);
			position: absolute;
			z-index: 1;
			top: -.3rem;
			right: -.3rem;
			bottom: -.3rem;
			left: -.3rem;
			display: block;
			border: $navigation-secondaryaction-focus-after-border;
			border-radius: $navigation-secondaryaction-focus-after-border-radius;
			pointer-events: none;
		}
		&:hover {
			svg {
				fill: $navigation-secondaryaction-focus-hover-svg-fill;
				color: $navigation-secondaryaction-focus-hover-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
	}
	&:active {
		background-image: $navigation-secondaryaction-active-bgimage;
		background-color: var(--p-surface-pressed);
		outline: none;
		svg {
			fill: $navigation-secondaryaction-active-svg-fill;
			color: $navigation-secondaryaction-active-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
		&:after {
			border: none;
		}
	}
}
.Polaris-Navigation__Section {
	margin: 0;
	list-style: none;
	flex: 0 0 auto;
	padding: 1.6rem 0 1.6rem calc(0px + env(safe-area-inset-left));
}
.Polaris-Navigation__Section+.Polaris-Navigation__Section {
	padding-top: .4rem;
}
.Polaris-Navigation__Section--fill {
	flex: 1 0 auto;
}
.Polaris-Navigation__Section--withSeparator {
	border-top: $navigation-section-withseparator-border;
}
.Polaris-Navigation__SectionHeading {
	font-size: $navigation-sectionheading-font-size;
	font-weight: $navigation-sectionheading-font-weight;
	line-height: $navigation-sectionheading-line-height;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	padding-left: 1.6rem;
	color: $navigation-sectionheading-color;
	@media (min-width:40em) {
		font-size: $navigation-sectionheading-media-font-size;
	}

	.Polaris-Navigation__Action {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		border: none;
		font-size: inherit;
		line-height: inherit;
		cursor: pointer;
		display: flex;
		align-items: center;
		margin: 0 .4rem 0 0;
		padding: .4rem 1.6rem;
		border-radius: $navigation-sectionheading-action-border-radius;
		&:focus {
			outline: none;
			background-image: $navigation-sectionheading-action-focus-bgimage;
			position: relative;
			outline: none;
			svg {
				fill: $navigation-sectionheading-action-focus-svg-fill;
				color: $navigation-sectionheading-action-focus-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
			&:after {
				content: var(--p-non-null-content,none);
				position: absolute;
				z-index: 1;
				top: -.3rem;
				right: -.3rem;
				bottom: -.3rem;
				left: -.3rem;
				display: block;
				border: $navigation-sectionheading-action-focus-after-border;
				border-radius: $navigation-sectionheading-action-focus-after-border-radius;
				pointer-events: none;
			}
			&:hover {
				svg {
					fill: $navigation-sectionheading-action-focus-hover-svg-fill;
					color: $navigation-sectionheading-action-focus-hover-svg-color;
				}
				img {
					-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
					filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				}
			}
		}
		svg {
			fill: $navigation-sectionheading-action-svg-fill;
			color: $navigation-sectionheading-action-svg-color;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
			filter: brightness(0) saturate(100%) invert(68%) sepia(18%) saturate(246%) hue-rotate(169deg) brightness(88%) contrast(90%);
		}
		&:hover {
			background-image: $navigation-sectionheading-action-hover-bgimage;
			background-color: var(--p-surface-hovered);
			svg {
				fill: $navigation-sectionheading-action-hover-svg-fill;
				color: $navigation-sectionheading-action-hover-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
		}
		&:active {
			background-image: $navigation-sectionheading-action-active-bgimage;
			background-color: var(--p-surface-pressed);
			outline: none;
			svg {
				fill: $navigation-sectionheading-action-active-svg-fill;
				color: $navigation-sectionheading-action-active-svg-color;
			}
			img {
				-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
				filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			}
			&:after {
				border: $navigation-sectionheading-action-active-after-border;
			}
		}
	}
}
.Polaris-Navigation__RollupToggle {
	font-weight: $navigation-rolluptoggle-font-weight;
	color: var(--p-text-on-surface,#212b36);
	color: $navigation-rolluptoggle-color;
	&:hover {
		color: $navigation-rolluptoggle-hover-color;
		svg {
			fill: $navigation-rolluptoggle-hover-svg-fill;
		}
		img {
			-webkit-filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
			filter: brightness(0) saturate(100%) invert(45%) sepia(17%) saturate(1966%) hue-rotate(194deg) brightness(88%) contrast(84%);
		}
	}
	&:focus {
		outline: none;
		position: relative;
		&:after {
			content: var(--p-non-null-content,none);
			position: absolute;
			z-index: 1;
			top: -.3rem;
			right: -.3rem;
			bottom: -.3rem;
			left: -.3rem;
			display: block;
			border: $navigation-rolluptoggle-focus-after-border;
			border-radius: $navigation-rolluptoggle-focus-after-border-radius;
			pointer-events: none;
		}
	}
}
.Polaris-Navigation__List {
	margin: 0;
	padding: 0;
	list-style: none;
}
.Polaris-Navigation__Indicator {
	position: relative;
	display: inline-block;
	height: 1rem;
	width: 1rem;
}
.Polaris-Navigation-Message {
	padding: 1rem 1.6rem;
	color: $navigation-message-color;
}
