
.Polaris-OptionList-Checkbox {
	position: relative;
	width: 100%;
}
.Polaris-OptionList-Checkbox__Input {
	position: absolute !important;
	top: 0;
	clip: rect(1px,1px,1px,1px) !important;
	overflow: hidden !important;
	height: 1px !important;
	width: 1px !important;
	padding: 0 !important;
	border: 0 !important;
	&:active+.Polaris-OptionList-Checkbox__Backdrop {
		background: #5c6ac4;
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}
		}
	}
	&:checked+.Polaris-OptionList-Checkbox__Backdrop {
		background: #5c6ac4;
	}
	&:focus+.Polaris-OptionList-Checkbox__Backdrop {
		background: #5c6ac4;
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}	
		}
	}
	&:checked~.Polaris-OptionList-Checkbox__Icon {
		transform: translate(-50%,-50%) scale(1);
	}
	&:disabled+.Polaris-OptionList-Checkbox__Backdrop {
		background: #dfe3e8;
		box-shadow: none;
		@media (-ms-high-contrast:active) {
			color: grayText;
		}
		&:after {
			background: #f9fafb;
		}
	}
	&:disabled~.Polaris-OptionList-Checkbox__Icon {
		svg {
			fill: #919eab;
		}
	}
}
.Polaris-OptionList-Checkbox--active {
	.Polaris-OptionList-Checkbox__Backdrop {
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}
		}
	}
}
.Polaris-OptionList-Checkbox__Backdrop {
	background-color: #c4cdd5;
	border: .1rem solid transparent;
	box-shadow: 0 0 0 1px transparent,0 1px 0 0 rgba(22,29,37,.05);
	border-radius: 3px;
	transition-property: box-shadow,background-color;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.64,0,.35,1);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@media (-ms-high-contrast:active) {
		background: transparent;
		border: 2px solid buttonText;
		transition: none;
		color: rgba(223,227,232,.3);
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		background: linear-gradient(180deg,#fff,#f9fafb);
		border-radius: 2px;
		@media (-ms-high-contrast:active) {
			top: -4px;
			right: -4px;
			bottom: -4px;
			left: -4px;
			background: none;
			border-radius: 4px;
		}
	}
}
.Polaris-OptionList-Checkbox__Icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transform-origin: 50% 50%;
	transition: transform .1s cubic-bezier(.36,0,1,1) cubic-bezier(0,0,.42,1);
	svg {
		fill: #5c6ac4;
	}
}
.Polaris-OptionList-Option {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-decoration: none;
	width: 100%;
	min-height: 3.6rem;
	text-align: left;
	cursor: pointer;
	&:focus {
		outline: none;
	}
	&:visited {
		color: inherit;
	}
	&:hover {
		background-image: linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
	}
}
.Polaris-OptionList-Option__SingleSelectOption {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	text-align: left;
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: .8rem 1.6rem;
	&:focus {
		outline: none;
	}
	&:not(.Polaris-OptionList-Option--disabled) {
		color: inherit;
	}
	.Polaris-OptionList-Option__Media {
		padding: 0 .8rem 0 0;
	}
}
.Polaris-OptionList-Option__Label {
	display: flex;
	align-items: flex-start;
	width: 100%;
	padding: .8rem 1.6rem;
}
.Polaris-OptionList-Option__Checkbox {
	box-sizing: border-box;
	display: flex;
	flex-shrink: 0;
	width: 1.6rem;
	height: 1.6rem;
	margin-top: .2rem;
	margin-right: .8rem;
}
.Polaris-OptionList-Option--focused {
	box-shadow: inset .2rem 0 0 #5c6ac4;
	background-image: linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
	&:hover {
		box-shadow: inset .2rem 0 0 #5c6ac4;
		background-image: linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3)),linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
	}
}
.Polaris-OptionList-Option--disabled {
	background-image: linear-gradient(#f9fafb,#f9fafb);
	.Polaris-OptionList-Option__Media {
		svg {
			fill: #919eab;
			color: #fff;
		}
	}
}
.Polaris-OptionList-Option--select {
	background-image: linear-gradient(rgba(179,188,245,.15),rgba(179,188,245,.15));
}
.Polaris-OptionList-Option--select.Polaris-OptionList-Option--focused {
	box-shadow: inset .2rem 0 0 #5c6ac4;
	background-image: linear-gradient(rgba(179,188,245,.15),rgba(179,188,245,.15)),linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
	&:hover {
		box-shadow: inset .2rem 0 0 #5c6ac4;
		background-image: linear-gradient(rgba(179,188,245,.15),rgba(179,188,245,.15)),linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3)),linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
	}
}
.Polaris-OptionList-Option--active {
	background-image: linear-gradient(rgba(179,188,245,.1),rgba(179,188,245,.1));
}
.Polaris-OptionList-Option__Media {
	padding: 0 .8rem;
	svg {
		fill: #454f5b;
		color: #fff;
	}
}
.Polaris-OptionList {
	margin: 0;
	padding: 0;
	list-style: none;
}
.Polaris-OptionList__Options {
	margin: 0;
	padding: 0;
	list-style: none;
}
.Polaris-OptionList__Title {
	font-size: 1.3rem;
	font-weight: 600;
	line-height: 1.6rem;
	text-transform: uppercase;
	padding: .8rem 1.6rem;
	border-bottom: .1rem solid var(--p-border-subdued-on-surface,#dfe3e8);
	@media (min-width:40em) {
		font-size: 1.2rem;
	}
}