.Polaris-Pagination {
	display: inline-flex;
}
@media (max-width:30.625em),(min-width:48.0625em) and (max-width:47.125em) {
	[data-has-navigation] .Polaris-Pagination:not(.Polaris-Pagination--plain) {
		display: flex;
		width: 100%;
	}

	[data-has-navigation] .Polaris-Pagination:not(.Polaris-Pagination--plain) .Polaris-Pagination__Button {
		flex: 1 0 auto;
	}
}

@media (max-width:30.625em) {
	.Polaris-Pagination:not(.Polaris-Pagination--plain) {
		display: flex;
		width: 100%;
	}

	.Polaris-Pagination:not(.Polaris-Pagination--plain) .Polaris-Pagination__Button {
		flex: 1 0 auto;
	}
}

.Polaris-Pagination--plain {
	.Polaris-Pagination__Button {
		position: relative;
		margin-top: -.4rem;
		margin-bottom: -.4rem;
		padding-top: .8rem;
		padding-bottom: .8rem;
		background: $pagination-plain-btn-bgcolor;
		border: $pagination-plain-btn-border;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: $pagination-plain-btn-box-shadow;
		&:active {
			background: $pagination-plain-btn-active-bgcolor;
			border: $pagination-plain-btn-active-border;
			box-shadow: $pagination-plain-btn-active-box-shadow;
			svg {
				fill: $pagination-plain-btn-active-svg-fill;
			}
		}
		&:hover {
			background: $pagination-plain-btn-hover-bgcolor;
			border: $pagination-plain-btn-hover-border;
			box-shadow: $pagination-plain-btn-hover-box-shadow;
			svg {
				fill: $pagination-plain-btn-hover-svg-fill;
			}
		}
		&:focus {
			border: $pagination-plain-btn-focus-border;
			box-shadow: $pagination-plain-btn-focus-box-shadow;
			&:after {
				background: $pagination-plain-btn-focus-after-bgcolor;
			}
		}
		&:disabled {
			background: $pagination-plain-btn-disabled-bgcolor;
			border: $pagination-plain-btn-disabled-border;
			box-shadow: $pagination-plain-btn-disabled-box-shadow;
			svg {
				fill: $pagination-plain-btn-disabled-svg-fill;
			}
		}
		&:after {
			content: "";
			position: absolute;
			top: .4rem;
			right: 0;
			left: 0;
			display: block;
			height: 2.8rem;
			border-radius: $pagination-plain-btn-after-border-radius;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			will-change: background;
			transition-property: background;
			transition-duration: .2s;
			transition-timing-function: cubic-bezier(.64,0,.35,1);
		}
	}
	.Polaris-Pagination__PreviousButton {
		margin-left: -.8rem;
	}
	.Polaris-Pagination__NextButton {
		margin-right: -.8rem;
		margin-left: .2rem;
	}
}
.Polaris-Pagination__Button {
	position: relative;
	z-index: 10;
	display: inline-block;
	min-width: 3.6rem;
	margin: 0;
	padding: .7rem .8rem;
	background: $pagination-btn-bgcolor;
	border: $pagination-btn-border;
	border-radius: $pagination-btn-border-radius;
	line-height: $pagination-btn-line-height;
	color: $pagination-btn-color;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	transition-property: color,background,border,box-shadow;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.64,0,.35,1);
	svg {
		fill: $pagination-btn-svg-fill;
	}
	&:hover {
		background: $pagination-btn-hover-bgcolor;
		border-color: $pagination-btn-hover-border-color;
	}
	&:focus {
		z-index: 20;
		border-color: $pagination-btn-focus-border-color;
		outline: 0;
		box-shadow: $pagination-btn-focus-box-shadow;
	}
	&:active {
		background: $pagination-btn-active-bgcolor;
		border-color: $pagination-btn-active-border-color;
		box-shadow: $pagination-btn-active-box-shadow;
	}
	&:disabled {
		background: $pagination-btn-disabled-bgcolor;
		color: $pagination-btn-disabled-color;
		cursor: default;
		box-shadow: $pagination-btn-disabled-box-shadow;
		svg {
			fill: $pagination-btn-disabled-svg-fill;
		}
	}
}
.Polaris-Pagination__PreviousButton {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.Polaris-Pagination__NextButton {
	margin-left: -1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.Polaris-Pagination__Label {
	padding: 0 .8rem;
	display: flex;
	align-items: center;
	justify-content: center;
}