
.Polaris-RadioButton {
	position: relative;
}
.Polaris-RadioButton__Input {
	margin: 0;
	padding: 0;
	opacity: 0;
	&:active+.Polaris-RadioButton__Backdrop {
		background: #5c6ac4;
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}	
		}
	}
	&:checked+.Polaris-RadioButton__Backdrop {
		background: #5c6ac4;
	}
	&:focus+.Polaris-RadioButton__Backdrop {
		background: #5c6ac4;
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}	
		}
	}
	&:checked~.Polaris-RadioButton__Icon {
		transform: translate(-50%,-50%) scale(1);
	}
	&:disabled+.Polaris-RadioButton__Backdrop {
		background: #dfe3e8;
		box-shadow: none;
		@media (-ms-high-contrast:active) {
			color: grayText;
		}
		&:after {
			background: #f9fafb;
		}
	}
	&:disabled~.Polaris-RadioButton__Icon {
		background-color: #c4cdd5;
	}
}
.Polaris-RadioButton__Backdrop {
	background-color: #c4cdd5;
	border: .1rem solid transparent;
	box-shadow: 0 0 0 1px transparent,0 1px 0 0 rgba(22,29,37,.05);
	border-radius: 3px;
	transition-property: box-shadow,background-color;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.64,0,.35,1);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	@media (-ms-high-contrast:active) {
		background: transparent;
		border: 2px solid buttonText;
		transition: none;
		color: rgba(223,227,232,.3);
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		background: linear-gradient(180deg,#fff,#f9fafb);
		border-radius: 2px;
		border-radius: 50%;
		@media (-ms-high-contrast:active) {
			top: -4px;
			right: -4px;
			bottom: -4px;
			left: -4px;
			background: none;
			border-radius: 4px;
		}
	}
}
.Polaris-RadioButton__Icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0);
	transform-origin: 50% 50%;
	height: 50%;
	width: 50%;
	background: #5c6ac4;
	border-radius: 50%;
	transition: transform .1s cubic-bezier(.36,0,1,1) cubic-bezier(0,0,.42,1);
	@media (-ms-high-contrast:active) {
		background: windowText;
	}
}