.Polaris-RangeSlider-DualThumb__Wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.Polaris-RangeSlider-DualThumb__TrackWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 2.8rem;
  cursor: pointer;
}

.Polaris-RangeSlider-DualThumb__TrackWrapper.Polaris-RangeSlider-DualThumb--disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.Polaris-RangeSlider-DualThumb__Track {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 0.4rem;
  border-radius: $p-range-slider-thumb-size-base;
  --unselected-range: transparent;
  --selected-range: rgba(44, 110, 203, 1);
  --gradient-colors: var(--unselected-range) 0%, var(--unselected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) 100%;
  background-image: linear-gradient(to right, var(--unselected-range) 0%, var(--unselected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) 100%);
}

.Polaris-RangeSlider-DualThumb--error {
  .Polaris-RangeSlider-DualThumb__Track {
    --selected-range: rgba(216, 44, 13, 1);
    --gradient-colors: var(--unselected-range) 0%, var(--unselected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) 100%;
    background-image: linear-gradient(to right, var(--unselected-range) 0%, var(--unselected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-lower), var(--selected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) var(--Polaris-RangeSlider-progress-upper), var(--unselected-range) 100%);
  }

  .Polaris-RangeSlider-DualThumb__Thumbs {
    border-color: $p-action-critical;
    background: linear-gradient($p-action-critical, $p-action-critical);
  }
}

.Polaris-RangeSlider-DualThumb--disabled {
  .Polaris-RangeSlider-DualThumb__Track {
    background: $p-border-disabled none;
  }
}

.Polaris-RangeSlider-DualThumb--trackDashed {
  content: '';
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background-image: linear-gradient(to right, $p-border, $p-border 50%, transparent 50%, transparent 100%);
  background-size: 0.4rem 0.4rem;
  border-radius: $p-border-radius-base;
  border-right: $p-border-radius-base $p-border solid;
}

.Polaris-RangeSlider-DualThumb__Thumbs {
  position: relative;
  position: absolute;
  z-index: 10;
  padding: 0;
  width: $p-range-slider-thumb-size-base;
  height: $p-range-slider-thumb-size-base;
  border-radius: 50%;
  border: 0.1rem solid $p-interactive;
  background: linear-gradient($p-interactive, $p-interactive);
  -webkit-tap-highlight-color: transparent;
  cursor: inherit;
  transition: transform $p-duration-1-5-0 $p-ease;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -0.2rem;
    right: -0.2rem;
    bottom: -0.2rem;
    left: -0.2rem;
    display: block;
    pointer-events: none;
    box-shadow: 0 0 0 -0.2rem $p-focused;
    transition: box-shadow 100ms $p-ease;
    border-radius: calc(0.4rem + 0.1rem);
  }

  &:active {
    transform: scale($p-range-slider-thumb-scale);

    + {
      .Polaris-RangeSlider-DualThumb__Output {
        opacity: 1;
        visibility: visible;
        bottom: calc(2.4rem + 2.4rem - 1.6rem);

        .Polaris-RangeSlider-DualThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }

  &:focus {
    outline: 0;

    &::after {
      box-shadow: 0 0 0 0.2rem $p-focused;
      outline: 0.1rem solid transparent;
    }

    + {
      .Polaris-RangeSlider-DualThumb__Output {
        opacity: $p-override-zero;

        .Polaris-RangeSlider-DualThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }

  &:hover {
    + {
      .Polaris-RangeSlider-DualThumb__Output {
        opacity: $p-override-zero;

        .Polaris-RangeSlider-DualThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }
}

.Polaris-RangeSlider-DualThumb__Thumbs.Polaris-RangeSlider-DualThumb--disabled {
  cursor: not-allowed;
  border-color: $p-border-disabled;
  background: $p-border-disabled;
}

.Polaris-RangeSlider-DualThumb__Prefix {
  flex: 0 0 auto;
  margin-right: 0.8rem;
}

.Polaris-RangeSlider-DualThumb__Suffix {
  flex: 0 0 auto;
  margin-left: 0.8rem;
}

.Polaris-RangeSlider-DualThumb__Output {
  position: absolute;
  z-index: 20;
  bottom: $p-range-slider-thumb-size-active;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility, bottom;
  transition-duration: $p-duration-1-5-0;
  transition-timing-function: $p-ease;
  transform: translateX(calc(-50% + 1.6rem / 2));
}

.Polaris-RangeSlider-DualThumb__OutputBubble {
  position: relative;
  display: flex;
  padding: 0 0.8rem;
  min-width: 3.2rem;
  height: 3.2rem;
  background-color: $p-surface;
  box-shadow: $p-popover-shadow;
  border-radius: 3px;
  transition-property: transform;
  transition-duration: $p-duration-1-5-0;
  transition-timing-function: $p-ease;
}

.Polaris-RangeSlider-DualThumb__OutputText {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-transform: uppercase;
  display: block;
  flex: 1 1 auto;
  margin: auto;
  text-align: center;
  color: $p-text;
}

.Polaris-RangeSlider-SingleThumb {
  display: flex;
  align-items: center;
}

.Polaris-RangeSlider-SingleThumb.Polaris-RangeSlider-SingleThumb--disabled {
  opacity: 0.8;
}

.Polaris-RangeSlider-SingleThumb__InputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  height: $p-range-slider-thumb-size-base;

  input {
    padding: 1.2rem 0;
    background-color: transparent;
    cursor: pointer;
  }

  &::after {
    content: '';
    position: absolute;
    height: 0.4rem;
    width: 100%;
    background-image: linear-gradient(to right, $p-border, $p-border 50%, transparent 50%, transparent 100%);
    background-size: 0.4rem 0.4rem;
    border-radius: $p-border-radius-base;
    border-right: $p-border-radius-base $p-border solid;
  }
}

.Polaris-RangeSlider-SingleThumb--disabled {
  input {
    cursor: not-allowed;
  }

  .Polaris-RangeSlider-SingleThumb__Input {
    &::-ms-track {
      outline: 0.1rem solid transparent;
      cursor: auto;
      background-image: none;
      background-color: $p-border-disabled;
    }

    &::-moz-range-track {
      cursor: auto;
      background-image: none;
      background-color: $p-border-disabled;
    }

    &::-webkit-slider-runnable-track {
      cursor: auto;
      background-image: none;
      background-color: $p-border-disabled;
    }

    &::-ms-thumb {
      cursor: not-allowed;
      border-color: $p-border-disabled;
      background: $p-border-disabled;
    }

    &::-moz-range-thumb {
      cursor: not-allowed;
      border-color: $p-border-disabled;
      background: $p-border-disabled;
    }

    &::-webkit-slider-thumb {
      cursor: not-allowed;
      border-color: $p-border-disabled;
      background: $p-border-disabled;
    }
  }
}

.Polaris-RangeSlider-SingleThumb__Prefix {
  flex: 0 0 auto;
  margin-right: 0.8rem;
}

.Polaris-RangeSlider-SingleThumb__Suffix {
  flex: 0 0 auto;
  margin-left: 0.8rem;
}

.Polaris-RangeSlider-SingleThumb__Input {
  --progress-lower: rgba(44, 110, 203, 1);
  --progress-upper: transparent;
  --gradient-colors: var(--progress-lower, transparent) 0%, var(--progress-lower, transparent) var(--Polaris-RangeSlider-progress, 0%), var(--progress-upper, transparent) var(--Polaris-RangeSlider-progress, 100%), var(--progress-upper, transparent) 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 10;
  flex: 1 1 auto;

  &::-ms-tooltip {
    display: none;
  }

  &:focus {
    outline: 0;
    outline: 0.1rem solid transparent;

    &::-ms-thumb {
      border-color: $p-surface;
      box-shadow: 0 0 0 0.2rem $p-focused;
    }

    &::-moz-range-thumb {
      border-color: $p-surface;
      box-shadow: 0 0 0 0.2rem $p-focused;
    }

    &::-webkit-slider-thumb {
      border-color: $p-surface;
      box-shadow: 0 0 0 0.2rem $p-focused;
    }

    + {
      .Polaris-RangeSlider-SingleThumb__Output {
        opacity: $p-override-zero;

        .Polaris-RangeSlider-SingleThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &::-ms-track {
    outline: 0.1rem solid transparent;
    cursor: pointer;
    width: 100%;
    height: 0.4rem;
    background-image: linear-gradient(to right, var(--progress-lower, transparent) 0%, var(--progress-lower, transparent) var(--Polaris-RangeSlider-progress, 0%), var(--progress-upper, transparent) var(--Polaris-RangeSlider-progress, 100%), var(--progress-upper, transparent) 100%);
    border: none;
    border-radius: 0.4rem;
  }

  &::-moz-range-track {
    cursor: pointer;
    width: 100%;
    height: 0.4rem;
    background-image: linear-gradient(to right, var(--progress-lower, transparent) 0%, var(--progress-lower, transparent) var(--Polaris-RangeSlider-progress, 0%), var(--progress-upper, transparent) var(--Polaris-RangeSlider-progress, 100%), var(--progress-upper, transparent) 100%);
    border: none;
    border-radius: 0.4rem;
  }

  &::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 100%;
    height: 0.4rem;
    background-image: linear-gradient(to right, var(--progress-lower, transparent) 0%, var(--progress-lower, transparent) var(--Polaris-RangeSlider-progress, 0%), var(--progress-upper, transparent) var(--Polaris-RangeSlider-progress, 100%), var(--progress-upper, transparent) 100%);
    border: none;
    border-radius: 0.4rem;
  }

  &::-ms-thumb {
    cursor: inherit;
    width: $p-range-slider-thumb-size-base;
    height: $p-range-slider-thumb-size-base;
    border: 1px solid transparent;
    border-radius: 50%;
    background: linear-gradient($p-interactive, $p-interactive);
    box-shadow: 0 0 0 0 $p-focused;
    appearance: none;
    -ms-transition: box-shadow 100ms $p-ease;
    transition: box-shadow 100ms $p-ease;
    -ms-transition-property: border-color, box-shadow, transform;
    transition-property: border-color, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    margin-top: calc(-1 * (1.6rem - 0.4rem) / 2);
    margin-top: 0;
    transform: translateY($p-range-slider-thumb-size-base/5) scale(0.4);

    &:hover {
      background: linear-gradient($p-interactive, $p-interactive);
    }
  }

  &::-moz-range-thumb {
    cursor: inherit;
    width: $p-range-slider-thumb-size-base;
    height: $p-range-slider-thumb-size-base;
    border: 1px solid transparent;
    border-radius: 50%;
    background: linear-gradient($p-interactive, $p-interactive);
    box-shadow: 0 0 0 0 $p-focused;
    appearance: none;
    -moz-transition: box-shadow 100ms $p-ease;
    transition: box-shadow 100ms $p-ease;
    -moz-transition-property: border-color, box-shadow, transform;
    transition-property: border-color, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    margin-top: calc(-1 * (1.6rem - 0.4rem) / 2);
    &:hover {
      background: linear-gradient($p-interactive, $p-interactive);
    }
  }

  &::-webkit-slider-thumb {
    cursor: inherit;
    width: $p-range-slider-thumb-size-base;
    height: $p-range-slider-thumb-size-base;
    border: 1px solid transparent;
    border-radius: 50%;
    background: linear-gradient($p-interactive, $p-interactive);
    box-shadow: 0 0 0 0 $p-focused;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transition: box-shadow 100ms $p-ease;
    transition: box-shadow 100ms $p-ease;
    -webkit-transition-property: border-color, box-shadow, transform;
    transition-property: border-color, box-shadow, transform;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    margin-top: calc(-1 * (1.6rem - 0.4rem) / 2);
    margin-top: -($p-range-slider-thumb-size-base)-0.4rem/2;

    &:hover {
      background: linear-gradient($p-interactive, $p-interactive);
    }
  }

  &:active {
    &::-ms-thumb {
      transform: scale($p-range-slider-thumb-scale);
    }

    &::-moz-range-thumb {
      transform: scale($p-range-slider-thumb-scale);
    }

    &::-webkit-slider-thumb {
      transform: scale($p-range-slider-thumb-scale);
    }

    + {
      .Polaris-RangeSlider-SingleThumb__Output {
        opacity: 1;
        visibility: visible;
        bottom: calc(1.6rem + 2.4rem - 1.6rem);

        .Polaris-RangeSlider-SingleThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }

  &:hover {
    + {
      .Polaris-RangeSlider-SingleThumb__Output {
        opacity: $p-override-zero;

        .Polaris-RangeSlider-SingleThumb__OutputBubble {
          transform: translateY(-1.6rem);
        }
      }
    }
  }
}

.Polaris-RangeSlider-SingleThumb--error {
  .Polaris-RangeSlider-SingleThumb__Input {
    --progress-lower: rgba(216, 44, 13, 1);

    &::-ms-track {
      outline: 0.1rem solid transparent;
      background-color: $p-override-none;
    }

    &::-moz-range-track {
      background-color: $p-override-none;
    }

    &::-webkit-slider-runnable-track {
      background-color: $p-override-none;
    }

    &::-ms-thumb {
      border-color: $p-action-critical;
      background: $p-action-critical;
    }

    &::-moz-range-thumb {
      border-color: $p-action-critical;
      background: $p-action-critical;
    }

    &::-webkit-slider-thumb {
      border-color: $p-action-critical;
      background: $p-action-critical;
    }
  }
}

.Polaris-RangeSlider-SingleThumb__Output {
  position: absolute;
  z-index: 20;
  bottom: $p-range-slider-thumb-size-base;
  left: var(--Polaris-RangeSlider-progress);
  transform: translateX(calc(-50% + var(--Polaris-RangeSlider-output-factor) * 1.6rem));
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility, bottom;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.Polaris-RangeSlider-SingleThumb__OutputBubble {
  position: relative;
  display: flex;
  box-shadow: $p-popover-shadow;
  padding: 0 0.8rem;
  min-width: 3.2rem;
  height: 3.2rem;
  background-color: $p-surface;
  border-radius: 3px;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  outline: 0.1rem solid transparent;
}

.Polaris-RangeSlider-SingleThumb__OutputText {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-transform: uppercase;
  display: block;
  flex: 1 1 auto;
  margin: auto;
  text-align: center;
  color: $p-text;
}

@media (max-width: 48.0625em) and (min-width: 46.5em) {
  [data-has-navigation] {
    .Polaris-RangeSlider-DualThumb__Thumbs {
      &:hover {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:active {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:focus {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }
    }

    .Polaris-RangeSlider-SingleThumb__Input {
      &:hover {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:active {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:focus {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 61.5em) {
  [data-has-navigation] {
    .Polaris-RangeSlider-DualThumb__Thumbs {
      &:hover {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:active {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:focus {
        + {
          .Polaris-RangeSlider-DualThumb__Output {
            .Polaris-RangeSlider-DualThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }
    }

    .Polaris-RangeSlider-SingleThumb__Input {
      &:hover {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:active {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }

      &:focus {
        + {
          .Polaris-RangeSlider-SingleThumb__Output {
            .Polaris-RangeSlider-SingleThumb__OutputBubble {
              transform: translateY(-0.8rem);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 46.5em) {
  .Polaris-RangeSlider-DualThumb__Thumbs {
    &:hover {
      + {
        .Polaris-RangeSlider-DualThumb__Output {
          .Polaris-RangeSlider-DualThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }

    &:active {
      + {
        .Polaris-RangeSlider-DualThumb__Output {
          .Polaris-RangeSlider-DualThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }

    &:focus {
      + {
        .Polaris-RangeSlider-DualThumb__Output {
          .Polaris-RangeSlider-DualThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }
  }
  .Polaris-RangeSlider-SingleThumb__Input {
    &:hover {
      + {
        .Polaris-RangeSlider-SingleThumb__Output {
          .Polaris-RangeSlider-SingleThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }

    &:active {
      + {
        .Polaris-RangeSlider-SingleThumb__Output {
          .Polaris-RangeSlider-SingleThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }

    &:focus {
      + {
        .Polaris-RangeSlider-SingleThumb__Output {
          .Polaris-RangeSlider-SingleThumb__OutputBubble {
            transform: translateY(-0.8rem);
          }
        }
      }
    }
  }
}

@media (min-width: 40em) {
  .Polaris-RangeSlider-DualThumb__OutputText {
    font-size: 1.2rem;
  }
  .Polaris-RangeSlider-SingleThumb__OutputText {
    font-size: 1.2rem;
  }
}
