
.Polaris-ResourceList-CheckableButton {
	font-size: $resourcelist-checkablebutton-font-size;
	font-weight: $resourcelist-checkablebutton-font-weight;
	line-height: $resourcelist-checkablebutton-line-height;
	text-transform: none;
	letter-spacing: normal;
	display: flex;
	align-items: center;
	min-height: 3.6rem;
	min-width: 3.6rem;
	margin: 0;
	padding: .7rem 1.6rem;
	line-height: 1;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	text-align: left;
	background: transparent;
	border: $resourcelist-checkablebutton-border;
	border-radius: $resourcelist-checkablebutton-border-radius;
	width: 100%;
	box-shadow: $resourcelist-checkablebutton-box-shadow;
	&:focus {
		outline: none;
	}

	@media (min-width:40em) {
		font-size: $resourcelist-checkablebutton-media-font-size;
	}
	@media (min-width:28.625em) {
		flex: 0 1 auto;
	}
}

/*.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton--globalTheming {
	background: var(--p-neutral-action);
	color: var(--p-text-on-surface);
	svg {
		fill: var(--p-icon-on-surface);
	}
	&:hover {
		background: var(--p-neutral-action-hovered);
	}
	&:active {
		background: var(--p-neutral-action-pressed);
	}
}*/

.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton--globalTheming.Polaris-ResourceList-CheckableButton__CheckableButton--selectMode {
	font-weight: 500;
}
.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton__CheckableButton--measuring {
	font-size: $resourcelist-checkablebutton-measuring-font-size;
	font-weight: $resourcelist-checkablebutton-measuring-font-weight;
	&:before {
		content: "";
		display: inline-block;
		width: 1.5rem;
	}
}

.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton__CheckableButton--plain {
	border: $resourcelist-checkablebutton-plain-border;
	border-radius: $resourcelist-checkablebutton-plain-border-radius;
	box-shadow: $resourcelist-checkablebutton-plain-box-shadow;
	background: $resourcelist-checkablebutton-plain-bgcolor;
	&:hover {
		background: $resourcelist-checkablebutton-plain-hover-bgcolor;
	}
}
.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton__CheckableButton--selectMode {
	color: $resourcelist-checkablebutton-selectmode-color;
	font-weight: $resourcelist-checkablebutton-selectmode-font-weight;
}
.Polaris-ResourceList-CheckableButton.Polaris-ResourceList-CheckableButton__CheckableButton--selected {
	color: $resourcelist-checkablebutton-selected-color;
	@media (min-width:28.625em) {
		border-color: $resourcelist-checkablebutton-selected-border-color;
	}
}
.Polaris-ResourceList-CheckableButton__Checkbox {
	pointer-events: none;
	height: 1.6rem;
	width: 1.6rem;
	margin-left: -.9rem;
}
.Polaris-ResourceList-CheckableButton__Label {
	margin-left: 2rem;
	flex: 1 1;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	padding: .1rem 0;
}
.Polaris-ResourceList-BulkActions__Group {
	font-size: $resourcelist-bulkactions-group-font-size;
	font-weight: $resourcelist-bulkactions-group-font-weight;
	line-height: $resourcelist-bulkactions-group-line-height;
	text-transform: none;
	letter-spacing: normal;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity,display;
	transition: opacity .2s cubic-bezier(.64,0,.35,1);
	display: none;
	align-items: center;
	flex-wrap: wrap;
	opacity: 0;
	@media (min-width:40em) {
		font-size: $resourcelist-bulkactions-group-media-font-size;
	}
}
.Polaris-ResourceList-BulkActions__Group.Polaris-ResourceList-BulkActions__Group--measuring {
	transition: none;
	display: flex;
	opacity: 0;
}
.Polaris-ResourceList-BulkActions__Group--entering {
	opacity: 0;
	display: flex;
}
.Polaris-ResourceList-BulkActions__Group--exiting {
	opacity: 0;
	display: flex;
}
.Polaris-ResourceList-BulkActions__Group--entered {
	opacity: 1;
	display: flex;
}
.Polaris-ResourceList-BulkActions__Group--exited {
	opacity: 0;
	display: none;
}

@media (min-width:28.625em) {
	.Polaris-ResourceList-BulkActions__Group--smallScreen {
		display: none;
	}
}

.Polaris-ResourceList-BulkActions__Group--largeScreen {
	display: none;
}
.Polaris-ResourceList-BulkActions__ButtonGroupWrapper {
	width: 100%;
	max-width: 100%;
	@media (min-width:28.625em) {
		width: auto;
		justify-content: flex-start;
		margin-right: .8rem;
	}
}

@media (max-width:28.625em) {
	.Polaris-ResourceList-BulkActions__ButtonGroupWrapper>div>div:first-child {
		flex: 1 1 auto;
	}
}


.Polaris-ResourceList-BulkActions__Group--measuring {
	.Polaris-ResourceList-BulkActions__ButtonGroupWrapper {
		position: absolute;
		width: auto;
	}
}
.Polaris-ResourceList-BulkActions__BulkActionButton {
	white-space: nowrap;
}
.Polaris-ResourceList-BulkActions__CheckableContainer {
	flex: 1 1;
}
.Polaris-ResourceList-BulkActions--disabled {
	transition: none;
	background: $resourcelist-bulkactions-disabled-bgcolor;
	color: $resourcelist-bulkactions-disabled-color;
	cursor: default;
	pointer-events: none;
	svg {
		fill: $resourcelist-bulkactions-disabled-svg-fill;
	}
}
/*.Polaris-ResourceList-BulkActions--disabled.Polaris-ResourceList-BulkActions--globalTheming {
	background: var(--p-neutral-action-disabled);
	color: var(--p-text-disabled-on-surface);
	svg {
		fill: var(--p-icon-disabled-on-surface);
	}
}*/
.Polaris-ResourceList-BulkActions__PaginatedSelectAll {
	padding: .4rem 0;
}
.Polaris-ResourceList-BulkActions__Slide {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
	transform: translateY(0);
	transition: transform .2s cubic-bezier(.64,0,.35,1);
}
.Polaris-ResourceList-BulkActions__Slide--appear {
	transform: translateX(-4rem);
}
.Polaris-ResourceList-BulkActions__Slide--enter {
	transform: translateX(-4rem);
}
.Polaris-ResourceList-BulkActions__Slide--exit {
	transform: translateX(-4rem);
}
.Polaris-ResourceList-BulkActions__Slide--appearing {
	transform: translateY(0);
}
.Polaris-ResourceList-BulkActions__Slide--entering {
	transform: translateY(0);
}


.Polaris-ResourceList-FilterControl__AppliedFilters {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	margin: -1.2rem -1.2rem 0;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	@media (min-width:28.625em) {
		flex-wrap: wrap;
		margin-right: 0;
		margin-left: -.8rem;
		margin-top: -1.6rem;
	}
	@media (max-width:28.625em) {
		padding-bottom: .8rem;
	}
	&:after {
		content: "";
		flex: 0 0 1.2rem;
		@media (min-width:28.625em) {
			content: none;
			flex: none;
		}
	}
}
.Polaris-ResourceList-FilterControl__AppliedFilter {
	flex: 1 0 auto;
	margin-top: .8rem;
	margin-left: 1.2rem;
	max-width: calc(100% - .8rem);
	@media (min-width:28.625em) {
		flex: 0 1 auto;
		margin-left: .8rem;
	}
}
.Polaris-ResourceList__FiltersWrapper {
	padding: 1.2rem 1.2rem 1.6rem;
	@media (min-width:28.625em) {
		padding: 1.6rem;
	}
}
.Polaris-ResourceList__FiltersWrapper+.Polaris-ResourceList {
	border-top: $resourcelist-filterswrapper-border;
}
.Polaris-ResourceList__HeaderOuterWrapper {
	position: relative;
	background-color: $resourcelist-headerouterwrapper-bgcolor;
	z-index: 2;
}
.Polaris-ResourceList__HeaderOuterWrapper+.Polaris-ResourceList {
	border-top: $resourcelist-headerouterwrapper-border;
}
.Polaris-ResourceList__HeaderWrapper--disabled {
	pointer-events: none;
}
.Polaris-ResourceList__HeaderWrapper--overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 4;
	background-color: $resourcelist-headerwrapper-overlay-bgcolor;
}
.Polaris-ResourceList__FiltersWrapper+.Polaris-ResourceList__HeaderOuterWrapper {
	margin-top: -1.6rem;
}
.Polaris-ResourceList__HeaderWrapper {
	position: relative;
	display: flex;
	align-items: flex-start;
	width: 100%;
	min-height: 5.6rem;
	padding: 1rem 1.2rem;
	background-color: $resourcelist-headerwrapper-bgcolor;
	@media (min-width:28.625em) {
		flex-direction: row;
		padding: 1rem 1.6rem;
	}
}
.Polaris-ResourceList__HeaderWrapper--isSticky {
	box-shadow: $resourcelist-headerwrapper-issticky-box-shadow;
}
.Polaris-ResourceList__HeaderContentWrapper {
	position: absolute;
	z-index: 1;
	right: 1.2rem;
	left: 1.2rem;
	display: flex;
	min-height: 3.6rem;
	opacity: 1;
	transition: opacity .2s cubic-bezier(.64,0,.35,1);
	@media (min-width:28.625em) {
		right: 1.6rem;
		left: 1.6rem;
		align-self: flex-start;
	}
}
.Polaris-ResourceList__HeaderWrapper--inSelectMode {
	.Polaris-ResourceList__HeaderContentWrapper {
		opacity: 0;
	}
}
.Polaris-ResourceList__AlternateToolWrapper ,.Polaris-ResourceList__SortWrapper{
	position: relative;
	display: flex;
	flex: 1 1;
	align-items: center;
	@media (min-width:28.625em) {
		position: relative;
		left: auto;
		flex: 0 1 auto;
		margin-left: 1.6rem;
	}
}

@media (min-width:28.625em) {
	.Polaris-ResourceList__HeaderWrapper--hasAlternateTool.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__AlternateToolWrapper,.Polaris-ResourceList__HeaderWrapper--hasAlternateTool.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__SortWrapper,.Polaris-ResourceList__HeaderWrapper--hasSort.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__AlternateToolWrapper,.Polaris-ResourceList__HeaderWrapper--hasSort.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__SortWrapper {
		padding-right: 0;
	}
}

.Polaris-ResourceList__HeaderWrapper--hasSelect {
	.Polaris-ResourceList__AlternateToolWrapper {
		padding-right: .8rem;
	}
	.Polaris-ResourceList__SortWrapper {
		padding-right: .8rem;
	}
}

.Polaris-ResourceList__HeaderTitleWrapper {
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1 1;
	padding-left: .4rem;
	align-self: center;
}
.Polaris-ResourceList__HeaderWrapper--hasAlternateTool {
	.Polaris-ResourceList__HeaderTitleWrapper {
		display: none;
	}
}
.Polaris-ResourceList__HeaderWrapper--hasSort {
	.Polaris-ResourceList__HeaderTitleWrapper {
		display: none;
	}
}

@media (min-width:28.625em) {
	.Polaris-ResourceList__HeaderWrapper--hasAlternateTool.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__HeaderTitleWrapper,.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__HeaderTitleWrapper,.Polaris-ResourceList__HeaderWrapper--hasSort.Polaris-ResourceList__HeaderWrapper--hasSelect .Polaris-ResourceList__HeaderTitleWrapper {
		display: none;
	}

	.Polaris-ResourceList__HeaderWrapper--hasAlternateTool .Polaris-ResourceList__HeaderTitleWrapper,.Polaris-ResourceList__HeaderWrapper--hasSort .Polaris-ResourceList__HeaderTitleWrapper {
		display: block;
	}
}

.Polaris-ResourceList__BulkActionsWrapper {
	position: relative;
	z-index: 2;
	width: 100%;
	@media (min-width:28.625em) {
		flex: 0 1 auto;
		align-self: flex-start;
	}
}
.Polaris-ResourceList__CheckableButtonWrapper {
	display: none;
	@media (min-width:28.625em) {
		flex: 1 1;
		display: block;
	}
}

.Polaris-ResourceList__SelectButtonWrapper {
	position: relative;
	flex: none;
	@media (min-width:28.625em) {
		display: none;
	}
}
.Polaris-ResourceList__EmptySearchResultWrapper {
	padding-top: 60px;
	padding-bottom: 60px;
	@media screen and (max-height:600px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.Polaris-ResourceList__ResourceListWrapper {
	position: relative;
}
.Polaris-ResourceList {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: 0;
	list-style: none;
}
.Polaris-ResourceList__ItemWrapper {
	position: relative;
	z-index: 1;
	overflow: hidden;
	max-width: 100%;
}
.Polaris-ResourceList__ItemWrapper+.Polaris-ResourceList__ItemWrapper {
	border-top: $resourcelist-itemwrapper-border;
}
.Polaris-ResourceList__ItemWrapper--isLoading {
	min-height: 6.4rem;
}
.Polaris-ResourceList__SpinnerContainer {
	z-index: 3;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
}
.Polaris-ResourceList__LoadingOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	z-index: 2;
	background-color: $resourcelist-loadingoverlay-bgcolor;
}
.Polaris-ResourceList__DisabledPointerEvents {
	pointer-events: none;
}
.Polaris-ResourceList--disableTextSelection {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}