.Polaris-Select {
	position: relative;
	select {
		&::-ms-expand {
			display: none;
		}
	}
}
.Polaris-Select--disabled {
	.Polaris-Select__Content {
		color: #919eab;
		@media (-ms-high-contrast:active) {
			color: grayText;
		}
	}
	.Polaris-Select__InlineLabel {
		color: inherit;
	}
	.Polaris-Select__Icon {
		opacity: .4;
		@media (-ms-high-contrast:active) {
			opacity: 1;
		}
		svg{
			@media (-ms-high-contrast:active) {
				fill: grayText;
			}
		}
	}
	.Polaris-Select__Backdrop {
		background: #dfe3e8;
		box-shadow: none;
		&:after {
			background: #f9fafb;
		}
		@media (-ms-high-contrast:active) {
			color: grayText;
		}
	}
}
.Polaris-Select--error {
	.Polaris-Select__Backdrop {
		background: #bf0711;
		box-shadow: 0 0 0 1px transparent;
		&:after {
			background: #fbeae5;
		}
	}
	.Polaris-Select__Input {
		&:focus~.Polaris-Select__Backdrop {
			background: #5c6ac4;
			box-shadow: 0 0 0 1px #5c6ac4;
			&:after {
				background: #fbeae5;
			}
		}
	}
}
.Polaris-Select--placeholder.Polaris-Select--error {
	.Polaris-Select__Input {
		color: #9c9798;
		&:-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #212b36;
		}
	}
}
.Polaris-Select__Content {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-transform: none;
	letter-spacing: normal;
	position: relative;
	z-index: 20;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 3.6rem;
	padding: .5rem .8rem .5rem 1.2rem;
	@media (min-width:40em) {
		font-size: 1.4rem;
	}
	@media (-ms-high-contrast:active) {
		color: windowText;
		-ms-high-contrast-adjust: none;
	}
}
.Polaris-Select__InlineLabel {
	color: var(--p-text-subdued-on-surface,#637381);
	margin-right: .4rem;
	white-space: nowrap;
	overflow: hidden;
	@media (-ms-high-contrast:active) {
		color: inherit;
	}
	&:after{
		@media (-ms-high-contrast:active) {
			content: ":";
		}
	}
}
.Polaris-Select__SelectedOption {
	flex: 1 1;
	white-space: nowrap;
	overflow: hidden;
	@media (-ms-high-contrast:active) {
		color: inherit;
	}
}
.Polaris-Select__Icon {
	svg {
		fill: #637381;
		@media (-ms-high-contrast:active) {
			fill: buttonText;
		}	
	}
}
.Polaris-Select__Backdrop {
	background-color: #c4cdd5;
	border: .1rem solid transparent;
	box-shadow: 0 0 0 1px transparent,0 1px 0 0 rgba(22,29,37,.05);
	border-radius: 3px;
	transition-property: box-shadow,background-color;
	transition-duration: .2s;
	transition-timing-function: cubic-bezier(.64,0,.35,1);
	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	@media (-ms-high-contrast:active) {
		background: transparent;
		border: 2px solid buttonText;
		transition: none;
		color: rgba(223,227,232,.3);
	}
	&:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: block;
		background: linear-gradient(180deg,#fff,#f9fafb);
		border-radius: 2px;
		@media (-ms-high-contrast:active) {
			top: -4px;
			right: -4px;
			bottom: -4px;
			left: -4px;
			background: none;
			border-radius: 4px;
		}
		@media (-ms-high-contrast:active) {
			display: none;
		}	
	}
}
.Polaris-Select__Input {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-transform: none;
	letter-spacing: normal;
	position: absolute;
	text-rendering: auto;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	margin: 0;
	opacity: .001;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@media (min-width:40em) {
		font-size: 1.4rem;
	}
	&:focus~.Polaris-Select__Backdrop {
		background: #5c6ac4;
		box-shadow: 0 0 0 1px #5c6ac4,0 0 0 0 transparent;
		&:after {
			background: #fff;
			@media (-ms-high-contrast:active) {
				border: 1px dashed buttonText;
			}
		}
		@media (-ms-high-contrast:active) {
			background-color: highlight;
		}
	}
}

@media (-ms-high-contrast:active) {
	.Polaris-Select__Input:focus~.Polaris-Select__Content {
		color: highlightText;
	}
}