.Polaris-Tabs {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	border-bottom: $tabs-border;
	list-style: none;
}
.Polaris-Tabs--fitted {
	flex-wrap: nowrap;
	.Polaris-Tabs__TabContainer {
		flex: 1 1 100%;
	}
	.Polaris-Tabs__Tab {
		padding: 0;
	}
	.Polaris-Tabs__Title {
		width: 100%;
		padding: .8rem 1.6rem;
	}
}
.Polaris-Tabs--fillSpace {
	.Polaris-Tabs__TabContainer {
		flex: 1 1 auto;
	}
}
.Polaris-Tabs__TabContainer {
	display: flex;
	margin: 0;
	padding: 0;
}
.Polaris-Tabs__Tab {
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	font-size: $tabs-font-size;
	font-weight: $tabs-font-weight;
	line-height: $tabs-line-height;
	text-transform: none;
	letter-spacing: normal;
	color: $tabs-color;
	position: relative;
	justify-content: center;
	width: 100%;
	min-width: 100%;
	margin: 1px 0 -1px;
	padding: 0 1.6rem;
	outline: none;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	@media (min-width:40em) {
		font-size: $tabs-media-font-size;
	}
	&:visited {
		color: inherit;
		color: $tabs-visited-color;
	}
	&:focus {
		outline: none;
		box-shadow: $tabs-focus-box-shadow;
		.Polaris-Tabs__Title {
			font-weight: $tabs-focus-title-font-weight;
			color: $tabs-focus-title-color;
			border-bottom: $tabs-focus-border;
		}
	}
	&:hover {
		.Polaris-Tabs__Title {
			font-weight: $tabs-hover-title-font-weight;
			color: $tabs-hover-title-color;
			text-decoration: none;
			border-bottom: $tabs-hover-border;
			@media (-ms-high-contrast:active) {
				border-bottom-color: highlight;
			}
		}
	}
}
.Polaris-Tabs__Tab.Polaris-Tabs__Tab--selected {
	.Polaris-Tabs__Title {
		border-bottom: $tabs-selected-title-border;
		@media (-ms-high-contrast:active) {
			background: highlight;
			border-bottom-color: highlight;
		}
	}
}
.Polaris-Tabs__Tab--selected {
	font-weight: $tabs-selected-font-weight;
	color: $tabs-selected-color;
}
.Polaris-Tabs__Title {
	display: block;
	padding: 1.6rem 0 1.3rem;
	border-bottom: $tabs-title-border;
	min-width: 5rem;
}
.Polaris-Tabs__Panel {
	display: block;
	&:focus {
		outline: none;
	}
}
.Polaris-Tabs__Panel--hidden {
	display: none;
}
.Polaris-Tabs__List {
	list-style: none;
	margin: 0;
	padding: .8rem 0;
}
.Polaris-Tabs__Item {
	color: inherit;
	text-decoration: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	background: $tabs-item-background;
	border: $tabs-item-border;
	font-size: $tabs-item-font-size;
	line-height: $tabs-item-line-height;
	display: block;
	width: 100%;
	min-height: 1.6rem;
	padding: .8rem 1.6rem;
	text-align: left;
	cursor: pointer;
	&:visited {
		color: $tabs-item-visited-color;
	}
	&:focus {
		outline: none;
		box-shadow: $tabs-item-focus-box-shadow;
		background-image: $tabs-item-focus-bgimage;
	}
	&:active {
		background-image: $tabs-item-active-bgimage;
		&:hover {
			background-image: $tabs-item-active-hover-bgimage;
			&:focus {
				box-shadow: $tabs-item-active-hover-focus-box-shadow;
				background-image: $tabs-item-active-hover-focus-bgimage;
			}
		}
	}
	&:hover {
		background-image: $tabs-item-hover-bgimage;
		&:focus {
			box-shadow: $tabs-item-hover-focus-box-shadow;
			background-image: $tabs-item-hover-focus-bgimage;
		}
	}
	&::-moz-focus-inner {
		border: none;
	}
}
.Polaris-Tabs__DisclosureTab {
	display: none;
}
.Polaris-Tabs__DisclosureTab--visible {
	display: flex;
}
.Polaris-Tabs__DisclosureActivator {
	position: relative;
	display: block;
	justify-content: center;
	height: 100%;
	margin: 1px 1px -1px 0;
	padding: 0 1.6rem;
	background-color: $tabs-disclosureactivator-bgcolor;
	cursor: pointer;
	border: none;
	outline: none;
	text-align: center;
	svg {
		fill: $tabs-disclosureactivator-svg-fill;
	}
	&:hover {
		.Polaris-Tabs__Title {
			border-bottom: $tabs-disclosureactivator-hover-title-border;
			@media (-ms-high-contrast:active) {
				background-image: linear-gradient(rgba(179,188,245,.1),rgba(179,188,245,.1)),linear-gradient(rgba(223,227,232,.3),rgba(223,227,232,.3));
				border-bottom-color: highlight;
			}
			svg {
				fill: $tabs-disclosureactivator-hover-title-svg-fill;
				@media (-ms-high-contrast:active) {
					fill: #000;
				}
			}
		}
	}
	&:focus {
		box-shadow: $tabs-disclosureactivator-focus-box-shadow;
		.Polaris-Tabs__Title {
			border-bottom: $tabs-disclosureactivator-focus-title-border;
		}
	}
}


.Polaris-Tabs__TabMeasurer {
	display: flex;
	visibility: hidden;
	height: 0;
}