@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.Polaris-Frame-Toast-Fade-Out {
  animation-name: fadeOut;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.Polaris-Frame-Toast-Fade-In-Down {
  animation-name: fadeInDown;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.Polaris-Frame-Toast-Fade-In-Up {
  animation-name: fadeInUp;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}


.Polaris-Frame-Toast-Wrapper {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none;
}
.Polaris-Frame-Toast-Wrapper.Polaris-Frame-Toast-Wrapper-Top {
  flex-direction: column;
}
.Polaris-Frame-Toast-Wrapper.Polaris-Frame-Toast-Wrapper-Bottom {
  flex-direction: column-reverse;
}
@media screen and (max-width: 768px) {
  .Polaris-Frame-Toast-Wrapper {
    padding: 0;
    position: fixed !important;
  }
}