/*---------- Variable for basic ----------;*/

/* for body */

$body-font-color: #212b36;
$body-font-weight: 400 ;
$body-font-size: 1.5rem;
$body-line-height: 2rem;
$font-family: -apple-system,BlinkMacSystemFont,San Francisco,Roboto,Segoe UI,Helvetica Neue,sans-serif;
$body-bg-color: #f4f6f8;

$body-media-fontsize: 1.4rem;

/* button variable */

$btn-border-radius: 3px; 

$btn-content-fontsize: 1.5rem;
$btn-content-fontweight: 400;
$btn-content-lineheight: 1.6rem;

$btn-content-media-fontsize: 1.6rem;

$btn-default-border: .1rem solid var(--p-border-on-surface,#c4cdd5);
$btn-default-bgcolor: linear-gradient(180deg,#fff,#f9	fafb); 
$btn-default-border-color: #c4cdd5;
$btn-default-shadow: 0 1px 0 0 rgba(22,29,37,.05);

$btn-default-hover-bgcolor : linear-gradient(180deg,#f9fafb,#f4f6f8);
$btn-default-hover-border-color : #c4cdd5;

$btn-default-focus-border-color: #5c6ac4;
$btn-default-focus-shadow: 0 0 0 1px #5c6ac4;

$btn-default-active-bgcolor: linear-gradient(180deg,#f4f6f8,#f4f6f8);  
$btn-default-active-border-color: #c4cdd5;  
$btn-default-active-shadow: 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(99,115,129,.1),inset 0 1px 4px 0 rgba(99,115,129,.2);

$btn-default-svg-icon-color: #637381;

$btn-default-disable-bgcolor: linear-gradient(180deg,#f4f6f8,#f4f6f8);
$btn-default-disable-color: #919eab;
$btn-default-disable-svg-icon-color: #919eab;

$buttongroup-segmented-border-radius: 0;

$btn-primary-bgcolor: linear-gradient(180deg,#6371c7,#5563c1);
$btn-primary-color:  #fff ;
$btn-primary-border-color: #3f4eae;
$btn-primary-boxshadow: inset 0 1px 0 0 #6774c8,0 1px 0 0 rgba(22,29,37,.05),0 0 0 0 transparent;

$btn-primary-hover-bgcolor: linear-gradient(180deg,#5c6ac4,#4959bd);
$btn-primary-hover-color: #fff;
$btn-primary-hover-border-color: #3f4eae;

$btn-primary-focus-boxshadow: inset 0 1px 0 0 #6f7bcb,0 1px 0 0 rgba(22,29,37,.05),0 0 0 1px #202e78;
$btn-primary-focus-border-color: #202e78;

$btn-primary-active-border-color: #38469b;
$btn-primary-active-bgcolor: linear-gradient(180deg,#3f4eae,#3f4eae);
$btn-primary-active-boxshadow: inset 0 0 0 0 transparent,0 1px 0 0 rgba(22,29,37,.05),0 0 1px 0 #38469b;

$btn-primary-svg-icon-color: #fff;

$btn-primary-disable-bgcolor: linear-gradient(180deg,#bac0e6,#bac0e6);
$btn-primary-disable-color: #fff;
$btn-primary-disable-border-color: #a7aedf;
$btn-primary-disable-box-shadow: none;
$btn-primary-disable-svg-icon-color: #fff;

$btn-primary-pressed-bgcolor: linear-gradient(180deg,#3f4eae,#3f4eae);
$btn-primary-pressed-border-color: #10173c;
$btn-primary-pressed-boxshadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #10173c;

$btn-primary-pressed-focus-bgcolor: linear-gradient(180deg,#3c4ba7,#3c4ba7);
$btn-primary-pressed-focus-border-color: #10173c;
$btn-primary-pressed-focus-boxshadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #10173c;

$btn-primary-pressed-hover-bgcolor: linear-gradient(180deg,#3c4ba7,#3c4ba7);
$btn-primary-pressed-hover-border-color: #10173c;
$btn-primary-pressed-hover-boxshadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #10173c;

$btn-primary-pressed-active-bgcolor: linear-gradient(180deg,#3f4eae,#3f4eae);
$btn-primary-pressed-active-border-color: #10173c;
$btn-primary-pressed-active-boxshadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #0b0f27;

$btn-destructive-bgcolor: linear-gradient(180deg,#e6391a,#d53417);
$btn-destructive-color: #fff;
$btn-destructive-border-color: #b02b13;
$btn-destructive-box-shadow: inset 0 1px 0 0 #e73d1f,0 1px 0 0 rgba(22,29,37,.05),0 0 0 0 transparent;

$btn-destructive-svg-icon-color: #fff;

$btn-destructive-hover-bgcolor: linear-gradient(180deg,#de3618,#c73016);
$btn-destructive-hover-color: #fff;
$btn-destructive-hover-border-color: #b02b13;

$btn-destructive-focus-box-shadow: inset 0 1px 0 0 #e84528,0 1px 0 0 rgba(22,29,37,.05),0 0 0 1px #bf0711;
$btn-destructive-focus-border-color: #bf0711;

$btn-destructive-active-box-shadow: inset 0 0 0 0 transparent,0 1px 0 0 rgba(22,29,37,.05),0 0 1px 0 #992511;
$btn-destructive-active-border-color: #992511;
$btn-destructive-active-bgcolor: linear-gradient(180deg,#b02b13,#b02b13);

$btn-destructive-disable-bgcolor: linear-gradient(180deg,#f29484,#f29484);
$btn-destructive-disable-color: #fff;
$btn-destructive-disable-border-color: #ef816d;
$btn-destructive-disable-box-shadow: none;
$btn-destructive-disable-svg-icon-color: #fff;

$btn-destructive-pressed-bgcolor: linear-gradient(180deg,#b02b13,#b02b13);
$btn-destructive-pressed-border-color: #75040a;
$btn-destructive-pressed-box-shadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #75040a;

$btn-destructive-pressed-focus-bgcolor: linear-gradient(180deg,#a72912,#a72912);
$btn-destructive-pressed-focus-border-color: #75040a;
$btn-destructive-pressed-focus-box-shadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #75040a;

$btn-destructive-pressed-hover-bgcolor: linear-gradient(180deg,#a72912,#a72912);;
$btn-destructive-pressed-hover-border-color: #75040a;
$btn-destructive-pressed-hover-box-shadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #75040a;

$btn-destructive-pressed-active-bgcolor: linear-gradient(180deg,#b02b13,#b02b13);
$btn-destructive-pressed-active-border-color: #75040a;
$btn-destructive-pressed-active-box-shadow: inset 0 0 0 0 transparent,inset 0 1px 1px 0 rgba(22,29,37,.05),inset 0 0 3px 0 #5d0308;

$btn-outline-bgcolor: transparent;
$btn-outline-color: #374047;
$btn-outline-border-color: rgba(99,115,129,.4);
$btn-outline-box-shadow: none;

$btn-outline-hover-bgcolor: rgba(99,115,129,.05);
$btn-outline-hover-border-color: rgba(99,115,129,.4);

$btn-outline-focus-border-color: rgba(99,115,129,.8);
$btn-outline-focus-box-shadow: 0 0 0 1px rgba(99,115,129,.8);

$btn-outline-active-bgcolor: rgba(99,115,129,.1);
$btn-outline-active-box-shadow: none;

$btn-outline-disabled-bgcolor: transparent;
$btn-outline-disabled-color: #919eab;
$btn-outline-disabled-border-color: rgba(99,115,129,.25);
$btn-outline-disabled-box-shadow: none;

$btn-outline-disable-svg-icon-color: #919eab;

$btn-destructive-outline-bgcolor: transparent;
$btn-destructive-outline-color: #82200e;
$btn-destructive-outline-border-color: rgba(222,54,24,.4);
$btn-destructive-outline-box-shadow: none;

$btn-destructive-outline-hover-bgcolor: rgba(222,54,24,.05);
$btn-destructive-outline-hover-border-color: rgba(222,54,24,.4);

$btn-destructive-outline-focus-box-shadow: 0 0 0 1px rgba(222,54,24,.8);
$btn-destructive-outline-focus-border-color: rgba(222,54,24,.8);

$btn-destructive-outline-active-bgcolor: rgba(222,54,24,.1);
$btn-destructive-outline-active-box-shadow: none;

$btn-destructive-outline-svg-icon-color: #bf0711;

$btn-destructive-outline-pressed-bgcolor: rgba(191,7,17,.03);
$btn-destructive-outline-pressed-color: #5d0308;
$btn-destructive-outline-pressed-border-color: rgba(191,7,17,.4);
$btn-destructive-outline-pressed-box-shadow: none;

$btn-destructive-outline-pressed-hover-bgcolor: rgba(191,7,17,.05);
$btn-destructive-outline-pressed-hover-border-color: rgba(191,7,17,.4);

$btn-destructive-outline-pressed-focus-border-color: rgba(191,7,17,.8);
$btn-destructive-outline-pressed-focus-box-shadow: 0 0 0 1px rgba(191,7,17,.8);

$btn-destructive-outline-pressed-active-bgcolor: rgba(191,7,17,.1);
$btn-destructive-outline-pressed-active-box-shadow: none;

$btn-destructive-outline-pressed-svg-icon-color: #330101;

$btn-loading-disabled-color: transparent;

$btn-pressed-bgcolor: #dfe3e8;
$btn-pressed-border-color: #b8c3cd;
$btn-pressed-box-shadow: 0 0 0 1px transparent,inset 0 1px 1px 0 rgba(99,115,129,.1),inset 0 1px 4px 0 rgba(99,115,129,.1);

$btn-pressed-hover-bgcolor: #d9dee4;
$btn-pressed-hover-border-color: #b8c3cd;
$btn-pressed-hover-box-shadow: 0 0 0 1px transparent,inset 0 1px 1px 0 rgba(99,115,129,.1),inset 0 1px 4px 0 rgba(99,115,129,.1);

$btn-pressed-focus-border-color: #5c6ac4;
$btn-pressed-focus-box-shadow: 0 0 0 1px #5c6ac4,inset 0 1px 1px 0 rgba(99,115,129,.1),inset 0 1px 4px 0 rgba(99,115,129,.1);

$btn-pressed-active-border-color: #b8c3cd;
$btn-pressed-active-box-shadow: 0 0 0 1px transparent,inset 0 1px 1px 0 rgba(99,115,129,.1),inset 0 1px 4px 0 rgba(99,115,129,.1);
$btn-pressed-active-bgcolor: #d3d9df;

$btn-plain-bgcolor: transparent;
$btn-plain-color: #006fbb;
$btn-plain-box-shadow: none;

$btn-plain-svg-icon-color: #006fbb;

$btn-plain-btn-content-bgcolor: rgba(33,43,54,.1);

$btn-plain-active-bgcolor: transparent;
$btn-plain-active-color: #084e8a;
$btn-plain-active-box-shadow: none;
$btn-plain-active-svg-icon-color: #084e8a;

$btn-plain-focus-bgcolor: transparent;
$btn-plain-focus-color: #084e8a;
$btn-plain-focus-box-shadow: none;	
$btn-plain-focus-svg-icon-color: #084e8a;	

$btn-plain-hover-bgcolor: transparent;
$btn-plain-hover-color: #084e8a;
$btn-plain-hover-box-shadow: none;	
$btn-plain-hover-svg-icon-color: #084e8a;

$btn-plain-pressed-bgcolor: transparent;
$btn-plain-pressed-color: #084e8a;
$btn-plain-pressed-box-shadow: none;	
$btn-plain-pressed-svg-icon-color: #084e8a;

$btn-plain-pressed-content-bgcolor: rgba(99,115,129,.1);

$btn-plain-pressed-active-bgcolor: transparent;
$btn-plain-pressed-active-color: #084e8a;
$btn-plain-pressed-active-box-shadow: none;	
$btn-plain-pressed-active-svg-icon-color: #084e8a;

$btn-plain-pressed-active-content-bgcolor: rgba(99,115,129,.1);

$btn-plain-pressed-hover-bgcolor: transparent;
$btn-plain-pressed-hover-color: #084e8a;
$btn-plain-pressed-hover-box-shadow: none;	
$btn-plain-pressed-hover-svg-icon-color: #084e8a;

$btn-plain-pressed-hover-content-bgcolor: rgba(33,43,54,.1);

$btn-plain-pressed-bgcolor: transparent;
$btn-plain-pressed-color: #084e8a;
$btn-plain-pressed-box-shadow: none;	
$btn-plain-pressed-svg-icon-color: #084e8a;

$btn-plain-destructive-color: #bf0711;

$btn-plain-destructive-hover-color: #330101;

$btn-plain-disabled-bgcolor: none;

$btn-plain-icononly-svg-color: #637381;

$btn-plain-icononly-active-bgcolor: #637381;
$btn-plain-icononly-active-svg-icon-color: #212b36;

$btn-plain-icononly-focus-bgcolor: rgba(33,43,54,.1);
$btn-plain-icononly-focus-svg-icon-color: #637381;

$btn-plain-icononly-hover-svg-icon-color: #212b36;

$btn-plain-icononly-disabled-svg-icon-color: #c4cdd5;

